.business_context/SUPS-Caseman/RPT/reporting/wordprocessing_templates/Outputs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Cag Onganer (EDS LTD) -->
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Fred (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Outputs">
		<xs:annotation>
			<xs:documentation>The Outputs element holds Output elements.  It is the Output element that is of interest.  Outputs 'merely' holds the list of'Output elements.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Output" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>An Output element defines the (Word Processing) Output (template)s develop.  The definition of outputs in this way aids generation of configuration and reference data.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Id">
								<xs:annotation>
									<xs:documentation>The Id (of an Output) uniquely identifies the output  amongst those developed.  Where possible, the CJR notation will be used. Otherwise, the N notation. Yet other scenario's have to be formalised.</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:list itemType="xs:string"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="NReference">
								<xs:annotation>
									<xs:documentation>The Outputs used to be referred to using the 'N' notation. Supply it here, and the templates may reuse this.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FReference">
								<xs:annotation>
									<xs:documentation>The Outputs used to be referred to using the 'F' notation. Supply it here, and the templates may reuse this.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Description">
								<xs:annotation>
									<xs:documentation>The Outputs description. Supply it here, and the templates may reuse this.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Location">
								<xs:annotation>
									<xs:documentation>The Location (of an Output) points the software at the file structure location of the ouput, relative to the 'wordprocessing_templates' directory. </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:list itemType="xs:string"/>
								</xs:simpleType>
							</xs:element>
                            <xs:element name="CTime" minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation> 
                                     Defines the time/period to create a PDF output. options are
                                     (0).   Immediately this process is finished
                                     (1).   After a predefined time                         
                                     (2).   Before a predefined date
                                     (3).   Never
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:list itemType="xs:int"/>
                                </xs:simpleType>
                            </xs:element>    
                            
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
