.business_context/SUPS-Caseman/PL-CCBC/app/cccis/ccbc/cc-polarlake/schemas/circuit_queue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="circuit_queue_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="circuit_queue" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request_id" type="xs:decimal"/>
							<xs:element name="request_date" type="xs:string"/>
							<xs:element name="circuit_id" type="xs:string"/>
							<xs:element name="status" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
