.business_context/SUPS-Caseman/PL-CCBC/app/cccis/ccbc/cc-polarlake/schemas/data_extracted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xsd:element name="data_extracted">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="record" type="record" minOccurs="0" maxOccurs="unbounded" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:simpleType name="record.court_code">
    <xsd:restriction base="xsd:string">
      <xsd:length value="3" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.case_number">
    <xsd:restriction base="xsd:string">
      <xsd:length value="8" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.total">
    <xsd:restriction base="xsd:string">
      <xsd:length value="10" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.judgment_date">
    <xsd:restriction base="xsd:string">
      <xsd:length value="8" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.judgment_status">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.cancellation_date_or_date_of_final_payment">
    <xsd:restriction base="xsd:string">
      <xsd:length value="1" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.person_requested_name">
    <xsd:restriction base="xsd:string">
      <xsd:length value="70" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.def_address_line_1">
    <xsd:restriction base="xsd:string">
      <xsd:length value="35" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.def_address_line_2">
    <xsd:restriction base="xsd:string">
      <xsd:length value="35" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.def_address_line_3">
    <xsd:restriction base="xsd:string">
      <xsd:length value="35" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.def_address_line_4">
    <xsd:restriction base="xsd:string">
      <xsd:length value="35" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.def_address_line_5">
    <xsd:restriction base="xsd:string">
      <xsd:length value="35" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.def_post_code">
    <xsd:restriction base="xsd:string">
      <xsd:length value="8" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="record.def_date_of_birth">
    <xsd:restriction base="xsd:string">
      <xsd:length value="8" fixed="true" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="record">
    <xsd:sequence>
      <xsd:element name="court_code" type="record.court_code" minOccurs="1" maxOccurs="1" />
      <xsd:element name="case_number" type="record.case_number" minOccurs="1" maxOccurs="1" />
      <xsd:element name="total" type="record.total" minOccurs="1" maxOccurs="1" />
      <xsd:element name="judgment_date" type="record.judgment_date" minOccurs="1" maxOccurs="1" />
      <xsd:element name="judgment_status" type="record.judgment_status" minOccurs="1" maxOccurs="1" />
      <xsd:element name="cancellation_date_or_date_of_final_payment" type="record.cancellation_date_or_date_of_final_payment" minOccurs="1" maxOccurs="1" />
      <xsd:element name="person_requested_name" type="record.person_requested_name" minOccurs="1" maxOccurs="1" />
      <xsd:element name="def_address_line_1" type="record.def_address_line_1" minOccurs="1" maxOccurs="1" />
      <xsd:element name="def_address_line_2" type="record.def_address_line_2" minOccurs="1" maxOccurs="1" />
      <xsd:element name="def_address_line_3" type="record.def_address_line_3" minOccurs="1" maxOccurs="1" />
      <xsd:element name="def_address_line_4" type="record.def_address_line_4" minOccurs="1" maxOccurs="1" />
      <xsd:element name="def_address_line_5" type="record.def_address_line_5" minOccurs="1" maxOccurs="1" />
      <xsd:element name="def_post_code" type="record.def_post_code" minOccurs="1" maxOccurs="1" />
      <xsd:element name="def_date_of_birth" type="record.def_date_of_birth" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>

