.business_context/SUPS-Caseman/PL-CCBC/app/cccis/ccbc/cc-polarlake/schemas/error_schema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.polarlake.com/platform/1.0" targetNamespace="http://www.polarlake.com/platform/1.0" elementFormDefault="qualified">
	<xs:element name="contextString">
		<xs:complexType>
                   <xs:sequence>			
                        	<xs:element ref="name"/>
				<xs:element ref="value"/>
                 </xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="pl-last-executed-sql"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="value" type="xs:string"/>
</xs:schema>
