.business_context/SUPS-Caseman/PL-CCBC/app/cccis/ccbc/cc-polarlake/schemas/file_info.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="file">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="info"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="file_name" type="xs:string"/>
	<xs:element name="info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="file_name"/>
				<xs:element ref="size"/>
				<xs:element ref="location"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="size" type="xs:string"/>
	<xs:element name="location" type="xs:string"/>
</xs:schema>
