.business_context/SUPS-Caseman/PL-CCBC/app/cccis/ccbc/cc-polarlake/schemas/ftp_report_queue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ftp_report_queue_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ftp_report_queue" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:decimal"/>							
							<xs:element name="document_id" type="xs:decimal"/>
							<xs:element name="ftp_server" type="xs:string"/>
							<xs:element name="ftp_user" type="xs:string"/>
							<xs:element name="ftp_pwd" type="xs:string"/>
							<xs:element name="ftp_path" type="xs:string"/>
							<xs:element name="ftp_filename" type="xs:string"/>
							<xs:element name="ftp_transfer_type" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
