.business_context/SUPS-Caseman/PL-CCBC/app/cccis/ccbc/cc-polarlake/schemas/ucccbc_sups_update_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AMOUNT" type="xs:string" />
	<xs:element name="BALANCE_OF_DEBT" type="xs:string" />
	<xs:element name="CASE_NUMBER" type="xs:string" />
	<xs:element name="COSTS" type="xs:string" />
	<xs:element name="CRED_CODE" type="xs:string" />
	<xs:element name="CUST_CODE" type="xs:string" />
	<xs:element name="CUST_FILE_SEQUENCE" type="xs:string" />
	<xs:element name="DATE_RECD" type="xs:date" />
	<xs:element name="DATE_TO_OPS" type="xs:date" />
	<xs:element name="DEFENDANT_ADDR_1" type="xs:string" />
	<xs:element name="DEFENDANT_ADDR_2" type="xs:string" />
	<xs:element name="DEFENDANT_ADDR_3" type="xs:string" />
	<xs:element name="DEFENDANT_ADDR_4" type="xs:string" />
	<xs:element name="DEFENDANT_ADDR_5" type="xs:string" />
	<xs:element name="DEFENDANT_ID" type="xs:string" />
	<xs:element name="REJECT_CODE" type="xs:string" />
	<xs:element name="DEFENDANT_NAME" type="xs:string" />
	<xs:element name="DEFENDANT_POSTCODE" type="xs:string" />
	<xs:element name="ENFORCING_CRT_CODE" type="xs:string" />
	<xs:element name="VALIDATED" type="xs:string" />
	<xs:element name="SLIP_CODELINE_1" />
	<xs:element name="SLIP_CODELINE_2" />
	<xs:element name="PAYEE_BANK_SORT_CODE" />
	<xs:element name="PAYEE_ACC_HOLDER" />
	<xs:element name="PAYEE_BANK_NAME" />
	<xs:element name="PAYEE_BANK_INFO_1" />
	<xs:element name="PAYEE_BANK_INFO_2" />
	<xs:element name="PAYEE_BANK_ACC_NO" />
	<xs:element name="PAYEE_GIRO_ACC_NO" />
	<xs:element name="PAYEE_GIRO_TRANS_CODE_1" />
	<xs:element name="PAYEE_GIRO_TRANS_CODE_2" />
	<xs:element name="PAYEE_APACS_TRANS_CODE" />
	<xs:element name="JUDGMENT_AMOUNT_CURRENCY" />
	<xs:element name="INTEREST_CURRENCY" />
	<xs:element name="TOTAL_COSTS_CURRENCY" />
	<xs:element name="PAID_BEFORE_JUDGMENT_CURRENCY" />
	<xs:element name="TOTAL_CURRENCY" />
	<xs:element name="INSTALMENT_AMOUNT_CURRENCY" />
	<xs:element name="DEFENDANT_DX_NO" />
	<xs:element name="DEFENDANT_DOB" type="xs:date" />
	<xs:element name="PAYEE_TEL_NO" />
	<xs:element name="DEFENDANT_TEL_NO" />
	<xs:element name="DEFENDANT_FAX_NO" />
	<xs:element name="DEFENDANT_EMAIL" />
	<xs:element name="DEFENDANT_PCM" />
	<xs:element name="PAYEE_DX_NO" />
	<xs:element name="PAYEE_FAX_NO" />
	<xs:element name="PAYEE_EMAIL" />
	<xs:element name="PAYEE_PCM" />
	<xs:element name="FEE" type="xs:string" />
	<xs:element name="FILE_NAME" type="xs:string" />
	<xs:element name="FIRST_PAYMENT_DATE" type="xs:date" />
	<xs:element name="FORMAT" type="xs:string" />
	<xs:element name="FREQUENCY" type="xs:string" />
	<xs:element name="INSTALMENT_AMOUNT" type="xs:string" />
	<xs:element name="INTEREST" type="xs:string" />
	<xs:element name="BALANCE_OF_DEBT_CURRENCY" />
	<xs:element name="AMOUNT_CURRENCY" />
	<xs:element name="FEE_CURRENCY" />
	<xs:element name="COSTS_CURRENCY" />
	<xs:element name="JOINT_JUDGMENT" type="xs:string" />
	<xs:element name="JUDGMENT_AMOUNT" type="xs:string" />
	<xs:element name="JUDGMENT_TYPE" type="xs:string" />
	<xs:element name="LAST_JG_SEQ" type="xs:string" />
	<xs:element name="LAST_WT_SEQ" type="xs:string" />
	<xs:element name="NOTES" type="xs:string" />
	<xs:element name="NO_RECORDS" type="xs:string" />
	<xs:element name="ORDERSEQ" type="xs:string" />
        <xs:element name="DATE_PROCESSED" type="xs:date" />
	<xs:element name="OUTPUTS" type="xs:string" />
	<xs:element name="FEES" type="xs:string" />
	<xs:element name="FEES_CURRENCY" type="xs:string" />
	<xs:element name="DEGAUSSED" type="xs:string" />
	<xs:element name="DATE_FROM_OPS" type="xs:date" />
	<xs:element name="DATE_RETD_CUST" type="xs:date" />
	<xs:element name="COMMENTS" type="xs:string" />
	<xs:element name="DATE_TO_BE_RETURNED" type="xs:date" />
	<xs:element name="PAID_BEFORE_JUDGMENT" type="xs:string" />
	<xs:element name="PAYEE_ADDR_1" type="xs:string" />
	<xs:element name="PAYEE_ADDR_2" type="xs:string" />
	<xs:element name="PAYEE_ADDR_3" type="xs:string" />
	<xs:element name="PAYEE_ADDR_4" type="xs:string" />
	<xs:element name="PAYEE_ADDR_5" type="xs:string" />
	<xs:element name="PAYEE_NAME" type="xs:string" />
	<xs:element name="PAYEE_POSTCODE" type="xs:string" />
	<xs:element name="PAYEE_REFERENCE" type="xs:string" />
	<xs:element name="CLAIMANT_DETAILS" type="xs:string" />
	<xs:element name="RECD" type="xs:string" />
	<xs:element name="REFERENCE" type="xs:string" />
	<xs:element name="REGISTERED_OFFICE" type="xs:string" />
	<xs:element name="SEQNO" type="xs:string" />
	<xs:element name="STATUS" type="xs:string" />
        <xs:element name="CLAIMANT_ADDR_1" />
        <xs:element name="CLAIMANT_ADDR_2" />
        <xs:element name="CLAIMANT_ADDR_3" />
        <xs:element name="CLAIMANT_ADDR_4" />
	<xs:element name="CLAIMANT_ADDR_5" />
        <xs:element name="CLAIMANT_POSTCODE" />
        <xs:element name="SOLICITOR_ADDR_1" />
        <xs:element name="SOLICITOR_ADDR_2" />
        <xs:element name="SOLICITOR_ADDR_3" />
        <xs:element name="SOLICITOR_ADDR_4" />
        <xs:element name="SOLICITOR_ADDR_5" />
	<xs:element name="SOLICITOR_POSTCODE" />
	<xs:element name="TAPES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SEQNO" />
				<xs:element ref="CUST_CODE" />
				<xs:element ref="FORMAT" />
				<xs:element ref="DATE_RECD" />
				<xs:element ref="RECD" />
				<xs:element ref="DATE_TO_OPS" />
				<xs:element ref="DEGAUSSED" />
				<xs:element ref="DATE_FROM_OPS" />
				<xs:element ref="DATE_RETD_CUST" />
				<xs:element ref="COMMENTS" />
				<xs:element ref="DATE_TO_BE_RETURNED" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TAPE_FILES">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SEQNO" />
				<xs:element ref="ORDERSEQ" />
				<xs:element ref="FILE_NAME" />
				<xs:element ref="NO_RECORDS" />
				<xs:element ref="STATUS" />
				<xs:element ref="DATE_PROCESSED" />
				<xs:element ref="OUTPUTS" />
				<xs:element ref="FEES" />
				<xs:element ref="FEES_CURRENCY" />

			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TOTAL" type="xs:string" />
	<xs:element name="TOTAL_COSTS" type="xs:string" />
	<xs:element name="WARRANT_NUMBER" type="xs:string" />
	<xs:element name="batch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TAPES" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="TAPE_FILES" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="load_judgments" maxOccurs="unbounded" />
				<xs:element ref="loadwarrants" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="job">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="batch" />
				<xs:element ref="LAST_JG_SEQ" />
				<xs:element ref="LAST_WT_SEQ" />
				<xs:element ref="tapes_sequence" />
				<xs:element ref="tape_files_sequence" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="load_judgments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRED_CODE" />
				<xs:element ref="CASE_NUMBER" />
				<xs:element ref="DEFENDANT_ID" />
				<xs:element ref="DEFENDANT_ADDR_1" />
				<xs:element ref="DEFENDANT_ADDR_2" />
				<xs:element ref="DEFENDANT_ADDR_3" />
				<xs:element ref="DEFENDANT_ADDR_4" />
				<xs:element ref="DEFENDANT_ADDR_5" />
				<xs:element ref="DEFENDANT_POSTCODE" />
				<xs:element ref="DEFENDANT_DOB" />
				<xs:element ref="REGISTERED_OFFICE" />
				<xs:element ref="JUDGMENT_TYPE" />
				<xs:element ref="JOINT_JUDGMENT" />
				<xs:element ref="JUDGMENT_AMOUNT" />
				<xs:element ref="INTEREST" />
				<xs:element ref="TOTAL_COSTS" />
				<xs:element ref="PAID_BEFORE_JUDGMENT" />
				<xs:element ref="TOTAL" />
				<xs:element ref="INSTALMENT_AMOUNT" />
				<xs:element ref="FREQUENCY" />
				<xs:element ref="FIRST_PAYMENT_DATE" />
				<xs:element ref="REJECT_CODE" />
				<xs:element ref="PAYEE_NAME" />
				<xs:element ref="PAYEE_ADDR_1" />
				<xs:element ref="PAYEE_ADDR_2" />
				<xs:element ref="PAYEE_ADDR_3" />
				<xs:element ref="PAYEE_ADDR_4" />
				<xs:element ref="PAYEE_ADDR_5" />
				<xs:element ref="PAYEE_POSTCODE" />
				<xs:element ref="PAYEE_TEL_NO" />
				<xs:element ref="PAYEE_REFERENCE" />
				<xs:element ref="VALIDATED" />
				<xs:element ref="SLIP_CODELINE_1" />
				<xs:element ref="SLIP_CODELINE_2" />
				<xs:element ref="CUST_FILE_SEQUENCE" />
				<xs:element ref="PAYEE_BANK_SORT_CODE" />
				<xs:element ref="PAYEE_ACC_HOLDER" />
				<xs:element ref="PAYEE_BANK_NAME" />
				<xs:element ref="PAYEE_BANK_INFO_1" />
				<xs:element ref="PAYEE_BANK_INFO_2" />
				<xs:element ref="PAYEE_BANK_ACC_NO" />
				<xs:element ref="PAYEE_GIRO_ACC_NO" />
				<xs:element ref="PAYEE_GIRO_TRANS_CODE_1" />
				<xs:element ref="PAYEE_GIRO_TRANS_CODE_2" />
				<xs:element ref="PAYEE_APACS_TRANS_CODE" />
				<xs:element ref="JUDGMENT_AMOUNT_CURRENCY" />
				<xs:element ref="INTEREST_CURRENCY" />
				<xs:element ref="TOTAL_COSTS_CURRENCY" />
				<xs:element ref="PAID_BEFORE_JUDGMENT_CURRENCY" />
				<xs:element ref="TOTAL_CURRENCY" />
				<xs:element ref="INSTALMENT_AMOUNT_CURRENCY" />
				<xs:element ref="DEFENDANT_DX_NO" />
				<xs:element ref="PAYEE_TEL_NO" />
				<xs:element ref="DEFENDANT_TEL_NO" />
				<xs:element ref="DEFENDANT_FAX_NO" />
				<xs:element ref="DEFENDANT_EMAIL" />
				<xs:element ref="DEFENDANT_PCM" />
				<xs:element ref="PAYEE_DX_NO" />
				<xs:element ref="PAYEE_FAX_NO" />
				<xs:element ref="PAYEE_EMAIL" />
				<xs:element ref="PAYEE_PCM" />
				<xs:element ref="CLAIMANT_ADDR_1" />
				<xs:element ref="CLAIMANT_ADDR_2" />
				<xs:element ref="CLAIMANT_ADDR_3" />
				<xs:element ref="CLAIMANT_ADDR_4" />
				<xs:element ref="CLAIMANT_ADDR_5" />
				<xs:element ref="CLAIMANT_POSTCODE" />
				<xs:element ref="SOLICITOR_ADDR_1" />
				<xs:element ref="SOLICITOR_ADDR_2" />
				<xs:element ref="SOLICITOR_ADDR_3" />
				<xs:element ref="SOLICITOR_ADDR_4" />
				<xs:element ref="SOLICITOR_ADDR_5" />
				<xs:element ref="SOLICITOR_POSTCODE" />
				
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="loadwarrants">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CRED_CODE" />
				<xs:element ref="CASE_NUMBER" />
				<xs:element ref="WARRANT_NUMBER" />
				<xs:element ref="CLAIMANT_DETAILS" />
				<xs:element ref="REFERENCE" />
				<xs:element ref="DEFENDANT_NAME" />
				<xs:element ref="DEFENDANT_ADDR_1" />
				<xs:element ref="DEFENDANT_ADDR_2" />
				<xs:element ref="DEFENDANT_ADDR_3" />
				<xs:element ref="DEFENDANT_ADDR_4" />
				<xs:element ref="DEFENDANT_ADDR_5" />
				<xs:element ref="DEFENDANT_POSTCODE" />
				<xs:element ref="BALANCE_OF_DEBT" />
				<xs:element ref="AMOUNT" />
				<xs:element ref="FEE" />
				<xs:element ref="COSTS" />
				<xs:element ref="ENFORCING_CRT_CODE" />
				<xs:element ref="CUST_FILE_SEQUENCE" />
				<xs:element ref="REJECT_CODE" />
				<xs:element ref="VALIDATED" />
				<xs:element ref="NOTES" />
				<xs:element ref="BALANCE_OF_DEBT_CURRENCY" />
				<xs:element ref="AMOUNT_CURRENCY" />
				<xs:element ref="FEE_CURRENCY" />
				<xs:element ref="COSTS_CURRENCY" />
				<xs:element ref="DEFENDANT_DX_NO" />
				<xs:element ref="DEFENDANT_TEL_NO" />
				<xs:element ref="DEFENDANT_FAX_NO" />
				<xs:element ref="DEFENDANT_EMAIL" />
				<xs:element ref="DEFENDANT_PCM" />
				<xs:element ref="CLAIMANT_ADDR_1" />
				<xs:element ref="CLAIMANT_ADDR_2" />
				<xs:element ref="CLAIMANT_ADDR_3" />
				<xs:element ref="CLAIMANT_ADDR_4" />
				<xs:element ref="CLAIMANT_ADDR_5" />
				<xs:element ref="CLAIMANT_POSTCODE" />
				<xs:element ref="SOLICITOR_ADDR_1" />
				<xs:element ref="SOLICITOR_ADDR_2" />
				<xs:element ref="SOLICITOR_ADDR_3" />
				<xs:element ref="SOLICITOR_ADDR_4" />
				<xs:element ref="SOLICITOR_ADDR_5" />
				<xs:element ref="SOLICITOR_POSTCODE" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="tape_files_sequence" type="xs:string" />
	<xs:element name="tapes_sequence" type="xs:string" />
</xs:schema>
