.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/config/bmscases_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BMSCourtType" type="xs:string"/>
	<xs:element name="Bms">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Events" type="EventsType"/>
				<xs:element name="CaseTypes" type="CaseTypesType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BmsTask" type="xs:string"/>
	<xs:complexType name="CaseTypeType">
		<xs:sequence>
			<xs:element ref="Type"/>
			<xs:element ref="CourtType" minOccurs="0"/>
			<xs:element ref="BMSCourtType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CaseTypesType">
		<xs:sequence>
			<xs:element name="CaseType" type="CaseTypeType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CourtType" type="xs:string"/>
	<xs:complexType name="EventType">
		<xs:sequence>
			<xs:element ref="EventID"/>
			<xs:element ref="Type"/>
			<xs:element ref="BmsTask"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EventID" type="xs:string"/>
	<xs:complexType name="EventsType">
		<xs:sequence>
			<xs:element name="Event" type="EventType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Type" type="xs:string"/>
</xs:schema>
