.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/config/ccbc_case_events_map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="LegacyEventID" type="xs:string"/>
	<xs:element name="SupsEventID" type="xs:string"/>
	<xs:element name="JudgmentType" type="xs:string"/>
	<xs:element name="JudgmentDefendant" type="xs:string"/>
	<xs:element name="JudgmentCase" type="xs:string"/>
	<xs:element name="Reason" type="xs:string"/>
	<xs:complexType name="EventType">
		<xs:sequence>
			<xs:element ref="LegacyEventID"/>
			<xs:element ref="SupsEventID"/>
			<xs:element ref="JudgmentType" minOccurs="0"/>
			<xs:element ref="JudgmentDefendant" minOccurs="0"/>
			<xs:element ref="JudgmentCase" minOccurs="0"/>
			<xs:element ref="Reason" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Events">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Event" type="EventType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
