.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/SUPS/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AddrSeq">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Others"/>
				<xs:element ref="Possession"/>
				<xs:element ref="Employer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddressType" type="xs:string"/>
	<xs:element name="Addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CourtCode" type="xs:string"/>
	<xs:element name="DX" type="xs:string"/>
	<xs:element name="DeftCaseNumber" type="xs:string"/>
	<xs:element name="DeftId" type="xs:string"/>
	<xs:element name="Employer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddrSeq"/>
				<xs:element ref="DeftCaseNumber"/>
				<xs:element ref="DeftId"/>
				<xs:element ref="CourtCode"/>
				<xs:element ref="AddressType"/>
				<xs:element ref="Line1"/>
				<xs:element ref="Line2"/>
				<xs:element ref="Line3"/>
				<xs:element ref="Line4"/>
				<xs:element ref="Line5"/>
				<xs:element ref="Postcode"/>
				<xs:element ref="Username"/>
				<xs:element ref="ValidFrom"/>
				<xs:element ref="ValidTo"/>
				<xs:element ref="DX"/>
				<xs:element ref="TelephoneNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Line1" type="xs:string"/>
	<xs:element name="Line2" type="xs:string"/>
	<xs:element name="Line3" type="xs:string"/>
	<xs:element name="Line4" type="xs:string"/>
	<xs:element name="Line5" type="xs:string"/>
	<xs:element name="Others">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddrSeq"/>
				<xs:element ref="DeftCaseNumber"/>
				<xs:element ref="DeftId"/>
				<xs:element ref="CourtCode"/>
				<xs:element ref="AddressType"/>
				<xs:element ref="Line1"/>
				<xs:element ref="Line2"/>
				<xs:element ref="Line3"/>
				<xs:element ref="Line4"/>
				<xs:element ref="Line5"/>
				<xs:element ref="Postcode"/>
				<xs:element ref="Username"/>
				<xs:element ref="ValidFrom"/>
				<xs:element ref="ValidTo"/>
				<xs:element ref="DX"/>
				<xs:element ref="TelephoneNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Possession">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddrSeq"/>
				<xs:element ref="DeftCaseNumber"/>
				<xs:element ref="DeftId"/>
				<xs:element ref="CourtCode"/>
				<xs:element ref="AddressType"/>
				<xs:element ref="Line1"/>
				<xs:element ref="Line2"/>
				<xs:element ref="Line3"/>
				<xs:element ref="Line4"/>
				<xs:element ref="Line5"/>
				<xs:element ref="Postcode"/>
				<xs:element ref="Username"/>
				<xs:element ref="ValidFrom"/>
				<xs:element ref="ValidTo"/>
				<xs:element ref="DX"/>
				<xs:element ref="TelephoneNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Postcode" type="xs:string"/>
	<xs:element name="TelephoneNumber" type="xs:string"/>
	<xs:element name="Username" type="xs:string"/>
	<xs:element name="ValidFrom" type="xs:string"/>
	<xs:element name="ValidTo" type="xs:string"/>
</xs:schema>
