.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/SUPS/cases_sups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AddressId" type="xs:string"/>
	<xs:element name="AddrTypeCode" type="xs:string"/>
	<xs:element name="AmountClaimed" type="xs:string"/>
	<xs:element name="BriefDetailsOfClaim" type="xs:string"/>
	<xs:element name="CaseDetails" type="xs:string"/>
	<!-- <xs:element name="CaseNumber" type="xs:string"/> -->
	<xs:simpleType name="CaseNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value=".*([\d\p{L}])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CasePartyNo" type="xs:string"/>
	<xs:element name="CaseStatus" type="xs:string"/>
	<xs:element name="CaseType" type="xs:string"/>
	<xs:element name="CourtFee" type="xs:string"/>
	<xs:element name="DX" type="xs:string"/>
	<xs:element name="DateOfIssue" type="xs:string"/>
	<xs:element name="DateOfTransfer" type="xs:string"/>
	<xs:element name="DateRequestReceived" type="xs:string"/>
	<xs:element name="DateTransferredIn" type="xs:string"/>
	<xs:element name="Line1" type="xs:string"/>
	<xs:element name="Line2" type="xs:string"/>
	<xs:element name="Line3" type="xs:string"/>
	<xs:element name="Line4" type="xs:string"/>
	<xs:element name="OwningCourtCode" type="xs:string"/>
	<xs:element name="ParticularsOfClaimDetails" type="xs:string"/>
	<xs:element name="PartyId" type="xs:string"/>
	<xs:element name="PartyRoleCode" type="xs:string"/>
	<xs:element name="PartyTypeCode" type="xs:string"/>
	<xs:element name="PayeeFlag" type="xs:string"/>
	<xs:element name="PostCode" type="xs:string"/>
	<xs:element name="PreviousCourt" type="xs:string"/>
	<xs:element name="Reference" type="xs:string"/>
	<xs:element name="RepCode" type="xs:string"/>
	<xs:element name="RepName" type="xs:string"/>
	<xs:element name="SolicitorsCosts" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="TelephoneNumber" type="xs:string"/>
	<xs:element name="Total" type="xs:string"/>
	<xs:element name="TransCrtCode" type="xs:string"/>
	<xs:element name="TransferReason" type="xs:string"/>
	<xs:element name="TransSeq" type="xs:string"/>
	<xs:element name="TransferStatus" type="xs:string"/>
	<xs:element name="UpdatedBy" type="xs:string"/>
	<xs:element name="ValidFrom" type="xs:string"/>
	<xs:element name="XferReceiptDate" type="xs:string"/>
	<xs:element name="Case">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CaseNumber" type="CaseNumber"/>
				<xs:element ref="TransSeq"/>
				<xs:element ref="CaseType"/>
				<xs:element ref="CaseStatus"/>
				<xs:element ref="OwningCourtCode"/>
				<xs:element ref="CaseDetails"/>
				<xs:element ref="ParticularsOfClaimDetails"/>
				<xs:element ref="DateRequestReceived"/>
				<xs:element ref="AmountClaimed"/>
				<xs:element ref="BriefDetailsOfClaim"/>
				<xs:element ref="CourtFee"/>
				<xs:element ref="SolicitorsCosts"/>
				<xs:element ref="Total"/>
				<xs:element ref="DateOfIssue"/>
				<xs:element ref="TransCrtCode"/>
				<xs:element ref="DateOfTransfer"/>
				<xs:element ref="Status"/>
				<xs:element ref="TransferReason"/>
				<xs:element ref="DateTransferredIn"/>
				<xs:element ref="PreviousCourt"/>
				<xs:element ref="TransferStatus"/>
				<xs:element ref="RepAddress"/>
				<xs:element ref="PlantiffAddress"/>
				<xs:element ref="XferReceiptDate"/>
				<!-- <xs:element ref="CaseNumber"/> -->
			</xs:sequence>
			<xs:attribute name="retry_count" type="xs:short"/>
			<xs:attribute name="retry_count_transfer_status" type="xs:short"/>
		</xs:complexType>
		<xs:key name="Case">
			<xs:selector xpath="Case"/>
			<xs:field xpath="CaseNumber"/>
		</xs:key>
	</xs:element>
	<xs:element name="Cases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Case" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddressId"/>
				<xs:element ref="Line1"/>
				<xs:element ref="Line2"/>
				<xs:element ref="Line3"/>
				<xs:element ref="Line4"/>
				<xs:element ref="PostCode"/>
				<xs:element ref="PartyId"/>
				<xs:element ref="ValidFrom"/>
				<xs:element ref="PartyRoleCode"/>
				<xs:element ref="AddrTypeCode"/>
				<xs:element name="CaseNumber" type="CaseNumber"/>
				<xs:element ref="UpdatedBy"/>
				<xs:element ref="CasePartyNo"/>
				<xs:element ref="OwningCourtCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Parties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartyId"/>
				<xs:element ref="RepName"/>
				<xs:element ref="DX"/>				
				<xs:element ref="TelephoneNumber"/>
				<xs:element ref="PartyTypeCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CodedParties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RepCode"/>
				<xs:element ref="OwningCourtCode"/>
				<xs:element ref="PartyId"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CasePartyRoles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Reference"/>
				<xs:element ref="PartyId"/>
				<xs:element ref="PartyRoleCode"/>
				<xs:element ref="CasePartyNo"/>
				<xs:element name="CaseNumber" type="CaseNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CasePartyRolesPlantiff">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Reference"/>
				<xs:element ref="PayeeFlag"/>
				<xs:element ref="PartyId"/>
				<xs:element ref="PartyRoleCode"/>
				<xs:element ref="CasePartyNo"/>
				<xs:element name="CaseNumber" type="CaseNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlantiffAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address"/>
				<xs:element ref="CodedParties"/>
				<xs:element ref="Parties"/>
				<xs:element ref="CasePartyRolesPlantiff"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RepAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address"/>
				<xs:element ref="CodedParties"/>
				<xs:element ref="Parties"/>
				<xs:element ref="CasePartyRoles"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
