.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/SUPS/case.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AdminCourtCode" type="xs:string"/>
	<xs:element name="AmountClaimed" type="xs:string"/>
	<xs:element name="AmountClaimedCurrency" type="xs:string"/>
	<xs:element name="BriefDetailsOfClaim" type="xs:string"/>
	<xs:element name="CJR" type="xs:string"/>
	<xs:element name="Case">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="CaseType"/>
				<xs:element ref="AdminCourtCode"/>
				<xs:element ref="AmountClaimed"/>
				<xs:element ref="CourtFee"/>
				<xs:element ref="SolicitorsCosts"/>
				<xs:element ref="Total"/>
				<xs:element ref="DateOfIssue"/>
				<xs:element ref="BriefDetailsOfClaim"/>
				<xs:element ref="ParticularsOfClaim"/>
				<xs:element ref="TransferCourtCode"/>
				<xs:element ref="TransferDate"/>
				<xs:element ref="Status"/>
				<xs:element ref="TransferReason"/>
				<xs:element ref="DateTransferredIn"/>
				<xs:element ref="PreviousCourt"/>
				<xs:element ref="TransferStatus"/>
				<xs:element ref="ReceiptDate"/>
				<xs:element ref="XFERReceiptDate"/>
				<xs:element ref="AmountClaimedCurrency"/>
				<xs:element ref="CourtFeeCurrency"/>
				<xs:element ref="SolicitorCostsCurrency"/>
				<xs:element ref="TotalCurrency"/>
				<xs:element ref="CJR"/>
				<xs:element ref="Manual"/>
				<xs:element ref="TransferCaseType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="CaseType" type="xs:string"/>
	<xs:element name="CourtFee" type="xs:string"/>
	<xs:element name="CourtFeeCurrency" type="xs:string"/>
	<xs:element name="DateOfIssue" type="xs:string"/>
	<xs:element name="DateTransferredIn" type="xs:string"/>
	<xs:element name="Manual" type="xs:string"/>
	<xs:element name="ParticularsOfClaim" type="xs:string"/>
	<xs:element name="PreviousCourt" type="xs:string"/>
	<xs:element name="ReceiptDate" type="xs:string"/>
	<xs:element name="SolicitorCostsCurrency" type="xs:string"/>
	<xs:element name="SolicitorsCosts" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="Total" type="xs:string"/>
	<xs:element name="TotalCurrency" type="xs:string"/>
	<xs:element name="TransferCaseType" type="xs:string"/>
	<xs:element name="TransferCourtCode" type="xs:string"/>
	<xs:element name="TransferDate" type="xs:string"/>
	<xs:element name="TransferReason" type="xs:string"/>
	<xs:element name="TransferStatus" type="xs:string"/>
	<xs:element name="XFERReceiptDate" type="xs:string"/>
</xs:schema>
