.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/SUPS/defendant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BarJudgment" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="DateOfServiceOther" type="xs:string"/>
	<xs:element name="DateOfServiceRO" type="xs:string"/>
	<xs:element name="Defendant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="DeftId"/>
				<xs:element ref="Name"/>
				<xs:element ref="DateOfServiceRO"/>
				<xs:element ref="DateOfServiceOther"/>
				<xs:element ref="BarJudgment"/>
				<xs:element ref="Solicitor"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Defendants">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Defendant"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeftId" type="xs:string"/>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="SolCode" type="xs:string"/>
	<xs:element name="Solicitor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SolCode"/>
				<xs:element ref="SolicitorName"/>
				<xs:element ref="SolicitorAddrLine1"/>
				<xs:element ref="SolicitorAddrLine2"/>
				<xs:element ref="SolicitorAddrLine3"/>
				<xs:element ref="SolicitorAddrLine4"/>
				<xs:element ref="SolicitorAddrLine5"/>
				<xs:element ref="SolicitorPostcode"/>
				<xs:element ref="SolicitorTelNo"/>
				<xs:element ref="SolicitorDX"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SolicitorAddrLine1" type="xs:string"/>
	<xs:element name="SolicitorAddrLine2" type="xs:string"/>
	<xs:element name="SolicitorAddrLine3" type="xs:string"/>
	<xs:element name="SolicitorAddrLine4" type="xs:string"/>
	<xs:element name="SolicitorAddrLine5" type="xs:string"/>
	<xs:element name="SolicitorDX" type="xs:string"/>
	<xs:element name="SolicitorName" type="xs:string"/>
	<xs:element name="SolicitorPostcode" type="xs:string"/>
	<xs:element name="SolicitorTelNo" type="xs:string"/>
</xs:schema>
