.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/SUPS/defendant_addresses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AddressId" type="xs:string"/>
	<xs:element name="AddrTypeCode" type="xs:string"/>
	<xs:element name="BarJudgments" type="xs:string"/>
	<xs:simpleType name="CaseNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value=".*([\d\p{L}])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CasePartyNo" type="xs:string"/>
	<xs:element name="DateOfServiceOther" type="xs:string"/>
	<xs:element name="DateOfServiceRO" type="xs:string"/>
	<xs:element name="DX" type="xs:string"/>
	<xs:element name="Line1" type="xs:string"/>
	<xs:element name="Line2" type="xs:string"/>
	<xs:element name="Line3" type="xs:string"/>
	<xs:element name="Line4" type="xs:string"/>
	<xs:element name="Line5" type="xs:string"/>
	<xs:element name="MethodOfService" type="xs:string"/>
	<xs:element name="OwningCourtCode" type="xs:string"/>
	<xs:element name="PartyId" type="xs:string"/>
	<xs:element name="PartyRoleCode" type="xs:string"/>
	<xs:element name="PartyTypeCode" type="xs:string"/>
	<xs:element name="PostCode" type="xs:string"/>
	<xs:element name="Reference" type="xs:string"/>
	<xs:element name="RepCode" type="xs:string"/>
	<xs:element name="RepName" type="xs:string"/>
	<xs:element name="TelephoneNumber" type="xs:string"/>
	<xs:element name="UpdatedBy" type="xs:string"/>
	<xs:element name="ValidFrom" type="xs:string"/>
	<xs:element name="ValidTo" type="xs:string"/>
	<xs:element name="AddressesGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Addresses" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddressId"/>
				<xs:element ref="Line1"/>
				<xs:element ref="Line2"/>
				<xs:element ref="Line3"/>
				<xs:element ref="Line4"/>
				<xs:element ref="Line5"/>
				<xs:element ref="PostCode"/>
				<xs:element ref="PartyId"/>
				<xs:element ref="ValidFrom"/>
				<xs:element ref="ValidTo"/>
				<xs:element ref="PartyRoleCode"/>
				<xs:element ref="AddrTypeCode"/>
				<xs:element name="CaseNumber" type="CaseNumber"/>
				<xs:element ref="UpdatedBy"/>
				<xs:element ref="CasePartyNo"/>
				<xs:element ref="OwningCourtCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Parties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartyId"/>
				<xs:element ref="RepName"/>
				<xs:element ref="DX"/>
				<xs:element ref="TelephoneNumber"/>
				<xs:element ref="PartyTypeCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CasePartyRoles">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Reference"/>
				<xs:element ref="PartyId"/>
				<xs:element ref="PartyRoleCode"/>
				<xs:element ref="CasePartyNo"/>
				<xs:element name="CaseNumber" type="CaseNumber"/>
				<xs:element ref="DateOfServiceOther"/>
				<xs:element ref="DateOfServiceRO"/>
				<xs:element ref="BarJudgments"/>
				<xs:element ref="MethodOfService"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Parties"/>
				<xs:element ref="CasePartyRoles"/>
				<xs:element ref="Address"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
