.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/SUPS/given_address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ALDSequence" type="xs:string"/>
	<xs:element name="AddressID" type="xs:string"/>
	<xs:element name="AddressLine1" type="xs:string"/>
	<xs:element name="AddressLine2" type="xs:string"/>
	<xs:element name="AddressLine3" type="xs:string"/>
	<xs:element name="AddressLine4" type="xs:string"/>
	<xs:element name="AddressLine5" type="xs:string"/>
	<xs:element name="AddressTypeCode" type="xs:string"/>
	<xs:element name="AddressTypeSequence" type="xs:string"/>
	<xs:element name="CONumber" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="CasePartyNo" type="xs:string"/>
	<xs:element name="CourtCode" type="xs:string"/>
	<xs:element name="GivenAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddressID"/>
				<xs:element ref="AddressLine1"/>
				<xs:element ref="AddressLine2"/>
				<xs:element ref="AddressLine3"/>
				<xs:element ref="AddressLine4"/>
				<xs:element ref="AddressLine5"/>
				<xs:element ref="Postcode"/>
				<xs:element ref="ValidFrom"/>
				<xs:element ref="ValidTo"/>
				<xs:element ref="PartyID"/>
				<xs:element ref="Reference"/>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="PartyRoleCode"/>
				<xs:element ref="AddressTypeCode"/>
				<xs:element ref="CONumber"/>
				<xs:element ref="AddressTypeSequence"/>
				<xs:element ref="ALDSequence"/>
				<xs:element ref="CourtCode"/>
				<xs:element ref="UpdatedBy"/>
				<xs:element ref="CasePartyNo"/>
				<xs:element ref="WelshIndicator"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartyID" type="xs:string"/>
	<xs:element name="PartyRoleCode" type="xs:string"/>
	<xs:element name="Postcode" type="xs:string"/>
	<xs:element name="Reference" type="xs:string"/>
	<xs:element name="UpdatedBy" type="xs:string"/>
	<xs:element name="ValidFrom" type="xs:string"/>
	<xs:element name="ValidTo" type="xs:string"/>
	<xs:element name="WelshIndicator" type="xs:string"/>
</xs:schema>
