.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/SUPS/party_to_party_relationship.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="PartyA" type="xs:string"/>
	<xs:element name="PartyARoleCode" type="xs:string"/>
	<xs:element name="PartyB" type="xs:string"/>
	<xs:element name="PartyBRoleCode" type="xs:string"/>
	<xs:element name="PartytoPartyRelationship">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartyA"/>
				<xs:element ref="PartyB"/>
				<xs:element ref="PartyARoleCode"/>
				<xs:element ref="PartyBRoleCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
