.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/SUPS/window_for_trial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="ConfDate" type="xs:string"/>
	<xs:element name="ConfFlag" type="xs:string"/>
	<xs:element name="CurrentCourt" type="xs:string"/>
	<xs:element name="EndDate" type="xs:string"/>
	<xs:element name="EstimatedDays" type="xs:string"/>
	<xs:element name="EstimatedHours" type="xs:string"/>
	<xs:element name="EstimatedMins" type="xs:string"/>
	<xs:element name="ExtractedForDM" type="xs:string"/>
	<xs:element name="ID" type="xs:string"/>
	<xs:element name="JudgesName" type="xs:string"/>
	<xs:element name="Notes" type="xs:string"/>
	<xs:element name="OldOutcomeDate" type="xs:string"/>
	<xs:element name="Old_Status" type="xs:string"/>
	<xs:element name="OutcomeDate" type="xs:string"/>
	<xs:element name="ReasonForAdj" type="xs:string"/>
	<xs:element name="StartDate" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="Track" type="xs:string"/>
	<xs:element name="WindowForTrial">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ID"/>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="CurrentCourt"/>
				<xs:element ref="Status"/>
				<xs:element ref="OutcomeDate"/>
				<xs:element ref="StartDate"/>
				<xs:element ref="EndDate"/>
				<xs:element ref="Track"/>
				<xs:element ref="JudgesName"/>
				<xs:element ref="ReasonForAdj"/>
				<xs:element ref="Notes"/>
				<xs:element ref="ConfFlag"/>
				<xs:element ref="ConfDate"/>
				<xs:element ref="EstimatedDays"/>
				<xs:element ref="EstimatedHours"/>
				<xs:element ref="EstimatedMins"/>
				<xs:element ref="ExtractedForDM"/>
				<xs:element ref="Old_Status"/>
				<xs:element ref="OldOutcomeDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WindowsForTrial">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WindowForTrial" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
