.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/Legacy/legacy_addresses.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Addr1" type="xs:string"/>
	<xs:element name="Addr2" type="xs:string"/>
	<xs:element name="Addr3" type="xs:string"/>
	<xs:element name="Addr4" type="xs:string"/>
	<xs:element name="Addr5" type="xs:string"/>
	<xs:element name="AddrAldSequence" type="xs:string"/>
	<xs:element name="AddrCONumber" type="xs:string"/>
	<xs:element name="AddrType" type="xs:string"/>
	<xs:element name="AddrTypeSequence" type="xs:string"/>
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddressSequence"/>
				<xs:element ref="DeftCaseNumber"/>
				<xs:element ref="DeftID"/>
				<xs:element ref="CourtCode"/>
				<xs:element ref="AddrType"/>
				<xs:element ref="Addr1"/>
				<xs:element ref="Addr2"/>
				<xs:element ref="Addr3"/>
				<xs:element ref="Addr4"/>
				<xs:element ref="Addr5"/>
				<xs:element ref="Postcode"/>
				<xs:element ref="Username"/>
				<xs:element ref="ValidFrom"/>
				<xs:element ref="ValidTo"/>
				<xs:element ref="Reference"/>
				<xs:element ref="AddrAldSequence"/>
				<xs:element ref="DXNumber"/>
				<xs:element ref="AddrCONumber"/>
				<xs:element ref="Telephone"/>
				<xs:element ref="AddrTypeSequence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddressSequence" type="xs:string"/>
	<xs:element name="Addresses">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CourtCode" type="xs:string"/>
	<xs:element name="DXNumber" type="xs:string"/>
	<xs:element name="DeftCaseNumber" type="xs:string"/>
	<xs:element name="DeftID" type="xs:string"/>
	<xs:element name="Postcode" type="xs:string"/>
	<xs:element name="Reference" type="xs:string"/>
	<xs:element name="Telephone" type="xs:string"/>
	<xs:element name="Username" type="xs:string"/>
	<xs:element name="ValidFrom" type="xs:string"/>
	<xs:element name="ValidTo" type="xs:string"/>
</xs:schema>
