.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/Legacy/legacy_AE_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AEEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AEEventSequence"/>
				<xs:element ref="AENumber"/>
				<xs:element ref="EventDate"/>
				<xs:element ref="DateEntered"/>
				<xs:element ref="EventID"/>
				<xs:element ref="IssuingStage"/>
				<xs:element ref="Details"/>
				<xs:element ref="HearingSequence"/>
				<xs:element ref="Error"/>
				<xs:element ref="Username"/>
				<xs:element ref="BaliffID"/>
				<xs:element ref="ServiceStatus"/>
				<xs:element ref="ServiceDate"/>
				<xs:element ref="WarrantNumber"/>
				<xs:element ref="ReportValue1"/>
				<xs:element ref="ReportValue2"/>
				<xs:element ref="ReportValue3"/>
				<xs:element ref="ReportValue4"/>
				<xs:element ref="ReportValue5"/>
				<xs:element ref="ProcessStage"/>
				<xs:element ref="ProcessDate"/>
				<xs:element ref="ReportValue6"/>
				<xs:element ref="ReportValue7"/>
				<xs:element ref="ReportValue8"/>
				<xs:element ref="ReportValue9"/>
				<xs:element ref="ReportValue10"/>
				<xs:element ref="ReportValue11"/>
				<xs:element ref="ReportValue12"/>
				<xs:element ref="ReportValue13"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AEEventSequence" type="xs:string"/>
	<xs:element name="AEEvents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AEEvent" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AENumber" type="xs:string"/>
	<xs:element name="BaliffID" type="xs:string"/>
	<xs:element name="DateEntered" type="xs:string"/>
	<xs:element name="Details" type="xs:string"/>
	<xs:element name="Error" type="xs:string"/>
	<xs:element name="EventDate" type="xs:string"/>
	<xs:element name="EventID" type="xs:string"/>
	<xs:element name="HearingSequence" type="xs:string"/>
	<xs:element name="IssuingStage" type="xs:string"/>
	<xs:element name="ProcessDate" type="xs:string"/>
	<xs:element name="ProcessStage" type="xs:string"/>
	<xs:element name="ReportValue1" type="xs:string"/>
	<xs:element name="ReportValue10" type="xs:string"/>
	<xs:element name="ReportValue11" type="xs:string"/>
	<xs:element name="ReportValue12" type="xs:string"/>
	<xs:element name="ReportValue13" type="xs:string"/>
	<xs:element name="ReportValue2" type="xs:string"/>
	<xs:element name="ReportValue3" type="xs:string"/>
	<xs:element name="ReportValue4" type="xs:string"/>
	<xs:element name="ReportValue5" type="xs:string"/>
	<xs:element name="ReportValue6" type="xs:string"/>
	<xs:element name="ReportValue7" type="xs:string"/>
	<xs:element name="ReportValue8" type="xs:string"/>
	<xs:element name="ReportValue9" type="xs:string"/>
	<xs:element name="ServiceDate" type="xs:string"/>
	<xs:element name="ServiceStatus" type="xs:string"/>
	<xs:element name="Username" type="xs:string"/>
	<xs:element name="WarrantNumber" type="xs:string"/>
</xs:schema>
