.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/Legacy/legacy_WFT_exclusion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="ExclusionDate" type="xs:string"/>
	<xs:element name="WFTExclusion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ExclusionDate"/>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="WFTID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WFTExclusions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WFTExclusion" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WFTID" type="xs:string"/>
</xs:schema>
