.business_context/SUPS-Caseman/app/PolarLake/Common/schemas/Legacy/legacy_case.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AdminCourtCode" type="xs:string"/>
	<xs:element name="AmountClaimed" type="xs:string"/>
	<xs:element name="BriefDetailsOfClaim" type="xs:string"/>
	<xs:element name="Case">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="CaseType"/>
				<xs:element ref="AdminCourtCode"/>
				<xs:element ref="AmountClaimed"/>
				<xs:element ref="CourtFee"/>
				<xs:element ref="SolictiorsCosts"/>
				<xs:element ref="Total"/>
				<xs:element ref="IssueDate"/>
				<xs:element ref="BriefDetailsOfClaim"/>
				<xs:element ref="ParticularsOfClaim"/>
				<xs:element ref="RepCode"/>
				<xs:element ref="RepName"/>
				<xs:element ref="RepAddr1"/>
				<xs:element ref="RepAddr2"/>
				<xs:element ref="RepAddr3"/>
				<xs:element ref="RepAddr4"/>
				<xs:element ref="RepPostcode"/>
				<xs:element ref="RepTelNo"/>
				<xs:element ref="Reference"/>
				<xs:element ref="RepDX"/>
				<xs:element ref="PlaintiffCode"/>
				<xs:element ref="PlaintiffDetails1"/>
				<xs:element ref="PlaintiffDetails2"/>
				<xs:element ref="PlaintiffDetails3"/>
				<xs:element ref="PlaintiffDetails4"/>
				<xs:element ref="PlaintiffDetails5"/>
				<xs:element ref="PlaintiffDetails6"/>
				<xs:element ref="PlaintiffDetails7"/>
				<xs:element ref="PlaintiffReference"/>
				<xs:element ref="PlaintiffDX"/>
				<xs:element ref="TransCourtCode"/>
				<xs:element ref="DateOfTransfer"/>
				<xs:element ref="Status"/>
				<xs:element ref="TransferReason"/>
				<xs:element ref="PayeeFlag"/>
				<xs:element ref="DateTransferredIn"/>
				<xs:element ref="PreviousCourt"/>
				<xs:element ref="TransferStatus"/>
				<xs:element ref="ReceiptDate"/>
				<xs:element ref="XFERReceiptDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="CaseType" type="xs:string"/>
	<xs:element name="CourtFee" type="xs:string"/>
	<xs:element name="DateOfTransfer" type="xs:string"/>
	<xs:element name="DateTransferredIn" type="xs:string"/>
	<xs:element name="IssueDate" type="xs:string"/>
	<xs:element name="ParticularsOfClaim" type="xs:string"/>
	<xs:element name="PayeeFlag" type="xs:string"/>
	<xs:element name="PlaintiffCode" type="xs:string"/>
	<xs:element name="PlaintiffDX" type="xs:string"/>
	<xs:element name="PlaintiffDetails1" type="xs:string"/>
	<xs:element name="PlaintiffDetails2" type="xs:string"/>
	<xs:element name="PlaintiffDetails3" type="xs:string"/>
	<xs:element name="PlaintiffDetails4" type="xs:string"/>
	<xs:element name="PlaintiffDetails5" type="xs:string"/>
	<xs:element name="PlaintiffDetails6" type="xs:string"/>
	<xs:element name="PlaintiffDetails7" type="xs:string"/>
	<xs:element name="PlaintiffReference" type="xs:string"/>
	<xs:element name="PreviousCourt" type="xs:string"/>
	<xs:element name="ReceiptDate" type="xs:string"/>
	<xs:element name="Reference" type="xs:string"/>
	<xs:element name="RepAddr1" type="xs:string"/>
	<xs:element name="RepAddr2" type="xs:string"/>
	<xs:element name="RepAddr3" type="xs:string"/>
	<xs:element name="RepAddr4" type="xs:string"/>
	<xs:element name="RepCode" type="xs:string"/>
	<xs:element name="RepDX" type="xs:string"/>
	<xs:element name="RepName" type="xs:string"/>
	<xs:element name="RepPostcode" type="xs:string"/>
	<xs:element name="RepTelNo" type="xs:string"/>
	<xs:element name="SolictiorsCosts" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="Total" type="xs:string"/>
	<xs:element name="TransCourtCode" type="xs:string"/>
	<xs:element name="TransferReason" type="xs:string"/>
	<xs:element name="TransferStatus" type="xs:string"/>
	<xs:element name="XFERReceiptDate" type="xs:string"/>
</xs:schema>
