.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/CAPSpayments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AENumber" type="xs:string"/>
	<xs:element name="Amount" type="xs:string"/>
	<xs:element name="CAPSEventSequence" type="xs:string"/>
	<xs:element name="CAPSPayment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AENumber"/>
				<xs:element ref="CAPSEventSequence"/>
				<xs:element ref="TransSequence"/>
				<xs:element ref="CAPSTransNo"/>
				<xs:element ref="PaymentDate"/>
				<xs:element ref="Amount"/>
				<xs:element ref="Notes"/>
				<xs:element ref="TransferStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CAPSPayments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CAPSPayment" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CAPSTransNo" type="xs:string"/>
	<xs:element name="Notes" type="xs:string"/>
	<xs:element name="PaymentDate" type="xs:string"/>
	<xs:element name="TransSequence" type="xs:string"/>
	<xs:element name="TransferStatus" type="xs:string"/>
</xs:schema>
