.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/caps_ae_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AEApplications">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AEEvent" maxOccurs="unbounded"/>
				<xs:element ref="PassthroughAmount"/>
				<xs:element ref="NewPaymentSeqNo"/>
				<xs:element ref="CAPSBalance"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AEEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AEEventSequence"/>
				<xs:element ref="NewAEEventSequence"/>
				<xs:element ref="TransSequence"/>
				<xs:element ref="AENumber"/>
				<xs:element ref="EventDate"/>
				<xs:element ref="DateEntered"/>
				<xs:element ref="EventID"/>
				<xs:element ref="IssueStage"/>
				<xs:element ref="Details"/>
				<xs:element ref="Error"/>
				<xs:element ref="Username"/>
				<xs:element ref="Bailiff"/>
				<xs:element ref="ServiceStatus"/>
				<xs:element ref="ServiceDate"/>
				<xs:element ref="ProcessStage"/>
				<xs:element ref="ProcessDate"/>
				<xs:element ref="ReportValue1"/>
				<xs:element ref="ReportValue2"/>
				<xs:element ref="ReportValue3"/>
				<xs:element ref="ReportValue4"/>
				<xs:element ref="ReportValue5"/>
				<xs:element ref="ReportValue6"/>
				<xs:element ref="ReportValue7"/>
				<xs:element ref="ReportValue8"/>
				<xs:element ref="ReportValue9"/>
				<xs:element ref="ReportValue10"/>
				<xs:element ref="ReportValue11"/>
				<xs:element ref="ReportValue12"/>
				<xs:element ref="WarrantID"/>
				<xs:element ref="HrgSequence"/>
				<xs:element ref="SumOfFeesPaid"/>
				<xs:element ref="SumOfPayments"/>
				<xs:element ref="AEFee"/>
				<xs:element ref="CourtCode"/>
				<xs:element ref="CAPSBalance"/>
				<xs:element ref="OustandingBalance"/>
				<xs:element ref="CAPSSequence"/>
				<xs:element ref="CAPSEventSequence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AEEventSequence" type="xs:string"/>
	<xs:element name="AEFee" type="xs:string"/>
	<xs:element name="AENumber" type="xs:string"/>
	<xs:element name="Bailiff" type="xs:string"/>
	<xs:element name="CAPSBalance" type="xs:string"/>
	<xs:element name="CAPSEventSequence" type="xs:string"/>
	<xs:element name="CAPSSequence" type="xs:string"/>
	<xs:element name="CourtCode" type="xs:string"/>
	<xs:element name="DateEntered" type="xs:string"/>
	<xs:element name="Details" type="xs:string"/>
	<xs:element name="Error" type="xs:string"/>
	<xs:element name="EventDate" type="xs:string"/>
	<xs:element name="EventID" type="xs:string"/>
	<xs:element name="HrgSequence" type="xs:string"/>
	<xs:element name="IssueStage" type="xs:string"/>
	<xs:element name="NewAEEventSequence" type="xs:string"/>
	<xs:element name="NewPaymentSeqNo" type="xs:string"/>
	<xs:element name="OustandingBalance" type="xs:string"/>
	<xs:element name="PassthroughAmount" type="xs:string"/>
	<xs:element name="ProcessDate" type="xs:string"/>
	<xs:element name="ProcessStage" type="xs:string"/>
	<xs:element name="ReportValue1" type="xs:string"/>
	<xs:element name="ReportValue10" type="xs:string"/>
	<xs:element name="ReportValue11" type="xs:string"/>
	<xs:element name="ReportValue12" type="xs:string"/>
	<xs:element name="ReportValue2" type="xs:string"/>
	<xs:element name="ReportValue3" type="xs:string"/>
	<xs:element name="ReportValue4" type="xs:string"/>
	<xs:element name="ReportValue5" type="xs:string"/>
	<xs:element name="ReportValue6" type="xs:string"/>
	<xs:element name="ReportValue7" type="xs:string"/>
	<xs:element name="ReportValue8" type="xs:string"/>
	<xs:element name="ReportValue9" type="xs:string"/>
	<xs:element name="ServiceDate" type="xs:string"/>
	<xs:element name="ServiceStatus" type="xs:string"/>
	<xs:element name="SumOfFeesPaid" type="xs:string"/>
	<xs:element name="SumOfPayments" type="xs:string"/>
	<xs:element name="TransSequence" type="xs:string"/>
	<xs:element name="Username" type="xs:string"/>
	<xs:element name="WarrantID" type="xs:string"/>
</xs:schema>
