.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/case_party_role.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="CasePartyNo" type="xs:string"/>
	<xs:element name="CasePartyRole">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="PartyID"/>
				<xs:element ref="PartyRoleCode"/>
				<xs:element ref="CasePartyNo"/>
				<xs:element ref="Reference"/>
				<xs:element ref="PayeeFlag"/>
				<xs:element ref="DeftDateOfServiceRO"/>
				<xs:element ref="DeftDateOfService"/>
				<xs:element ref="DeftBarJudgment"/>
				<xs:element ref="WelshIndicator"/>
				<xs:element ref="DeftMethodOfService"/>
				<xs:element ref="DeftLateDateForReply"/>
				<xs:element ref="DeftMCOLPassword"/>
				<xs:element ref="LastDateForService"/>
				<xs:element ref="PreferredCommunicationMethod"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeftBarJudgment" type="xs:string"/>
	<xs:element name="DeftDateOfService" type="xs:string"/>
	<xs:element name="DeftDateOfServiceRO" type="xs:string"/>
	<xs:element name="DeftLateDateForReply" type="xs:string"/>
	<xs:element name="DeftMCOLPassword" type="xs:string"/>
	<xs:element name="DeftMethodOfService" type="xs:string"/>
	<xs:element name="LastDateForService" type="xs:string"/>
	<xs:element name="PartyID" type="xs:string"/>
	<xs:element name="PartyRoleCode" type="xs:string"/>
	<xs:element name="PayeeFlag" type="xs:string"/>
	<xs:element name="PreferredCommunicationMethod" type="xs:string"/>
	<xs:element name="Reference" type="xs:string"/>
	<xs:element name="WelshIndicator" type="xs:string"/>
</xs:schema>
