.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/court.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="Court" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="WftID" type="xs:string"/>
	<xs:element name="Cases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="WftID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CourtCodes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Court"/>
				<xs:element ref="Cases" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Courts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CourtCodes" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
