.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/echr_detail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ApplicationDate" type="xs:string"/>
	<xs:element name="ApplicationOutcome" type="xs:string"/>
	<xs:element name="ApplicationPartyMade" type="xs:string"/>
	<xs:element name="DeftCaseNo" type="xs:string"/>
	<xs:element name="Deleted" type="xs:string"/>
	<xs:element name="ECHRDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeftCaseNo"/>
				<xs:element ref="EventSeq"/>
				<xs:element ref="PltfCode"/>
				<xs:element ref="PltfDetails"/>
				<xs:element ref="EventDate"/>
				<xs:element ref="ApplicationDate"/>
				<xs:element ref="UserName"/>
				<xs:element ref="JudgeName"/>
				<xs:element ref="ApplicationOutcome"/>
				<xs:element ref="Deleted"/>
				<xs:element ref="ApplicationPartyMade"/>
				<xs:element ref="PartyName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ECHRDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ECHRDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EventDate" type="xs:string"/>
	<xs:element name="EventSeq" type="xs:string"/>
	<xs:element name="JudgeName" type="xs:string"/>
	<xs:element name="PartyName" type="xs:string"/>
	<xs:element name="PltfCode" type="xs:string"/>
	<xs:element name="PltfDetails" type="xs:string"/>
	<xs:element name="UserName" type="xs:string"/>
</xs:schema>
