.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/echr_article_protocol.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ArtOrProt" type="xs:string"/>
	<xs:element name="DeftCaseNumber" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="ECHRArticleProtocol">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EventSeq"/>
				<xs:element ref="ArtOrProt"/>
				<xs:element ref="LowValue"/>
				<xs:element ref="Description"/>
				<xs:element ref="DeftCaseNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ECHRArticleProtocols">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ECHRArticleProtocol" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EventSeq" type="xs:string"/>
	<xs:element name="LowValue" type="xs:string"/>
</xs:schema>
