.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/judgment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AgainstCasePartyNo" type="xs:string"/>
	<xs:element name="AgainstPartyRoleCode" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="DateOfFinalPayment" type="xs:string"/>
	<xs:element name="FirstPaymentDate" type="xs:string"/>
	<xs:element name="InstalmentAmount" type="xs:string"/>
	<xs:element name="InstalmentAmountCurrency" type="xs:string"/>
	<xs:element name="InstalmentPeriod" type="xs:string"/>
	<xs:element name="JointJudgment" type="xs:string"/>
	<xs:element name="Judgments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Judgment" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Judgment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="JudgmentSequence"/>
				<xs:element ref="JudgmentType"/>
				<xs:element ref="JointJudgment"/>
				<xs:element ref="JudgmentDate"/>
				<xs:element ref="SentToRTL"/>
				<xs:element ref="StatusToRTL"/>
				<xs:element ref="DateOfFinalPayment"/>
				<xs:element ref="Status"/>
				<xs:element ref="JudgmentAmount"/>
				<xs:element ref="TotalCosts"/>
				<xs:element ref="PaidBeforeJudgment"/>
				<xs:element ref="Total"/>
				<xs:element ref="InstalmentAmount"/>
				<xs:element ref="InstalmentPeriod"/>
				<xs:element ref="FirstPaymentDate"/>
				<xs:element ref="PayeeName"/>
				<xs:element ref="PayeeAddr1"/>
				<xs:element ref="PayeeAddr2"/>
				<xs:element ref="PayeeAddr3"/>
				<xs:element ref="PayeeAddr4"/>
				<xs:element ref="PayeeAddr5"/>
				<xs:element ref="PayeePostcode"/>
				<xs:element ref="PayeeTelNo"/>
				<xs:element ref="PayeeReference"/>
				<xs:element ref="PayReceiptDate"/>
				<xs:element ref="JusgmentCourtCode"/>
				<xs:element ref="JudgmentAmountCurrency"/>
				<xs:element ref="TotalCostsCurrency"/>
				<xs:element ref="PaidBeforeJudgmentCurrency"/>
				<xs:element ref="TotalCurrency"/>
				<xs:element ref="InstalmentAmountCurrency"/>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="SlipCodeline1"/>
				<xs:element ref="AgainstPartyRoleCode"/>
				<xs:element ref="SlipCodeline2"/>
				<xs:element ref="PayeeBankSortCode"/>
				<xs:element ref="PayeeAccountHolder"/>
				<xs:element ref="PayeeBankName"/>
				<xs:element ref="PayeeBankInfo1"/>
				<xs:element ref="PayeeBankInfo2"/>
				<xs:element ref="PayeeBankAccountNo"/>
				<xs:element ref="PayeeGIROAccountNo"/>
				<xs:element ref="PayeeGIROTransCode1"/>
				<xs:element ref="PayeeGIROTransCode2"/>
				<xs:element ref="PayeeAPACSTransCode"/>
				<xs:element ref="AgainstCasePartyNo"/>
				<xs:element ref="RTLAddressID"/>
				<xs:element ref="WarrantID"/>
				<xs:element ref="WarrantPartyAgainst"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="JudgmentAmount" type="xs:string"/>
	<xs:element name="JudgmentAmountCurrency" type="xs:string"/>
	<xs:element name="JudgmentDate" type="xs:string"/>
	<xs:element name="JudgmentSequence">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="newSequenceNumber" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="JudgmentType" type="xs:string"/>
	<xs:element name="JusgmentCourtCode" type="xs:string"/>
	<xs:element name="PaidBeforeJudgment" type="xs:string"/>
	<xs:element name="PaidBeforeJudgmentCurrency" type="xs:string"/>
	<xs:element name="PayReceiptDate" type="xs:string"/>
	<xs:element name="PayeeAPACSTransCode" type="xs:string"/>
	<xs:element name="PayeeAccountHolder" type="xs:string"/>
	<xs:element name="PayeeAddr1" type="xs:string"/>
	<xs:element name="PayeeAddr2" type="xs:string"/>
	<xs:element name="PayeeAddr3" type="xs:string"/>
	<xs:element name="PayeeAddr4" type="xs:string"/>
	<xs:element name="PayeeAddr5" type="xs:string"/>
	<xs:element name="PayeeBankAccountNo" type="xs:string"/>
	<xs:element name="PayeeBankInfo1" type="xs:string"/>
	<xs:element name="PayeeBankInfo2" type="xs:string"/>
	<xs:element name="PayeeBankName" type="xs:string"/>
	<xs:element name="PayeeBankSortCode" type="xs:string"/>
	<xs:element name="PayeeGIROAccountNo" type="xs:string"/>
	<xs:element name="PayeeGIROTransCode1" type="xs:string"/>
	<xs:element name="PayeeGIROTransCode2" type="xs:string"/>
	<xs:element name="PayeeName" type="xs:string"/>
	<xs:element name="PayeePostcode" type="xs:string"/>
	<xs:element name="PayeeReference" type="xs:string"/>
	<xs:element name="PayeeTelNo" type="xs:string"/>
	<xs:element name="RTLAddressID" type="xs:string"/>
	<xs:element name="SentToRTL" type="xs:string"/>
	<xs:element name="SlipCodeline1" type="xs:string"/>
	<xs:element name="SlipCodeline2" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="StatusToRTL" type="xs:string"/>
	<xs:element name="Total" type="xs:string"/>
	<xs:element name="TotalCosts" type="xs:string"/>
	<xs:element name="TotalCostsCurrency" type="xs:string"/>
	<xs:element name="TotalCurrency" type="xs:string"/>
	<xs:element name="WarrantID" type="xs:string"/>
	<xs:element name="WarrantPartyAgainst" type="xs:string"/>
</xs:schema>
