.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/obligation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AEEventSeq" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="Deleted" type="xs:string"/>
	<xs:element name="EventSeq" type="xs:string"/>
	<xs:element name="ExpiryDate" type="xs:string"/>
	<xs:element name="LastUsedBy" type="xs:string"/>
	<xs:element name="Notes" type="xs:string"/>
	<xs:element name="Obligation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="Sequence"/>
				<xs:element ref="Type"/>
				<xs:element ref="ExpiryDate"/>
				<xs:element ref="Notes"/>
				<xs:element ref="EventSeq"/>
				<xs:element ref="AEEventSeq"/>
				<xs:element ref="LastUsedBy"/>
				<xs:element ref="Deleted"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Obligations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Obligation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sequence" type="xs:string"/>
	<xs:element name="Type" type="xs:string"/>
</xs:schema>
