.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/party.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AuthenticationPassword" type="xs:string"/>
	<xs:element name="AuthenticationPin" type="xs:string"/>
	<xs:element name="CompanyName" type="xs:string"/>
	<xs:element name="DXNumber" type="xs:string"/>
	<xs:element name="EmailAddress" type="xs:string"/>
	<xs:element name="EthnicOriginCode" type="xs:string"/>
	<xs:element name="FAXNumber" type="xs:string"/>
	<xs:element name="Gender" type="xs:string"/>
	<xs:element name="Party">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PartyID"/>
				<xs:element ref="PersonTitle"/>
				<xs:element ref="PersonGivenFirstName"/>
				<xs:element ref="PersonGivenSecondName"/>
				<xs:element ref="PersonFamilyName"/>
				<xs:element ref="PersonGivenThirdName"/>
				<xs:element ref="AuthenticationPin"/>
				<xs:element ref="CompanyName"/>
				<xs:element ref="AuthenticationPassword"/>
				<xs:element ref="EmailAddress"/>
				<xs:element ref="Gender"/>
				<xs:element ref="EthnicOriginCode"/>
				<xs:element ref="PartyTypeCode"/>
				<xs:element ref="FAXNumber"/>
				<xs:element ref="PersonRequestedName"/>
				<xs:element ref="Telephone"/>
				<xs:element ref="DXNumber"/>
				<xs:element ref="PreferredCommsMethod"/>
				<xs:element ref="WelshIndicator"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartyID" type="xs:string"/>
	<xs:element name="PartyTypeCode" type="xs:string"/>
	<xs:element name="PersonFamilyName" type="xs:string"/>
	<xs:element name="PersonGivenFirstName" type="xs:string"/>
	<xs:element name="PersonGivenSecondName" type="xs:string"/>
	<xs:element name="PersonGivenThirdName" type="xs:string"/>
	<xs:element name="PersonRequestedName" type="xs:string"/>
	<xs:element name="PersonTitle" type="xs:string"/>
	<xs:element name="PreferredCommsMethod" type="xs:string"/>
	<xs:element name="Telephone" type="xs:string"/>
	<xs:element name="WelshIndicator" type="xs:string"/>
</xs:schema>
