.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/warrant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AdditionalNotes" type="xs:string"/>
	<xs:element name="AmountOfWarrant" type="xs:string"/>
	<xs:element name="BailiffAreaNo" type="xs:string"/>
	<xs:element name="BalanceAfterPaid" type="xs:string"/>
	<xs:element name="BalanceAfterPaidCurrency" type="xs:string"/>
	<xs:element name="BalanceOfDebtCurrency" type="xs:string"/>
	<xs:element name="CCBCWarrant" type="xs:string"/>
	<xs:element name="CONumber" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="CaseStatus" type="xs:string"/>
	<xs:element name="ClaimantCode" type="xs:string"/>
	<xs:element name="DatePrinted" type="xs:string"/>
	<xs:element name="DateReprinted" type="xs:string"/>
	<xs:element name="DateRequestReceived" type="xs:string"/>
	<xs:element name="DefendantName1" type="xs:string"/>
	<xs:element name="DefendantName2" type="xs:string"/>
	<xs:element name="Deft1AddrLine1" type="xs:string"/>
	<xs:element name="Deft1AddrLine2" type="xs:string"/>
	<xs:element name="Deft1AddrLine3" type="xs:string"/>
	<xs:element name="Deft1AddrLine4" type="xs:string"/>
	<xs:element name="Deft1AddrLine5" type="xs:string"/>
	<xs:element name="Deft1CasePartyNumber" type="xs:string"/>
	<xs:element name="Deft1PartyType" type="xs:string"/>
	<xs:element name="Deft1PostCode" type="xs:string"/>
	<xs:element name="Deft2AddrLine1" type="xs:string"/>
	<xs:element name="Deft2AddrLine2" type="xs:string"/>
	<xs:element name="Deft2AddrLine3" type="xs:string"/>
	<xs:element name="Deft2AddrLine4" type="xs:string"/>
	<xs:element name="Deft2AddrLine5" type="xs:string"/>
	<xs:element name="Deft2CasePartyNumber" type="xs:string"/>
	<xs:element name="Deft2PartyType" type="xs:string"/>
	<xs:element name="Deft2PostCode" type="xs:string"/>
	<xs:element name="ExecutingCourtCode" type="xs:string"/>
	<xs:element name="Fee" type="xs:string"/>
	<xs:element name="FeeCurrency" type="xs:string"/>
	<xs:element name="HomeCourtIssueDate" type="xs:string"/>
	<xs:element name="IssueDate" type="xs:string"/>
	<xs:element name="IssuedBy" type="xs:string"/>
	<xs:element name="LandRegistryFee" type="xs:string"/>
	<xs:element name="LandRegistryFeeCurrency" type="xs:string"/>
	<xs:element name="LocalNumber" type="xs:string"/>
	<xs:element name="OriginalWarrantNumber" type="xs:string"/>
	<xs:element name="OwnedBy" type="xs:string"/>
	<xs:element name="PlaintiffName" type="xs:string"/>
	<xs:element name="PreIssueBalance" type="xs:string"/>
	<xs:element name="PrintStatus" type="xs:string"/>
	<xs:element name="ReIssueDate" type="xs:string"/>
	<xs:element name="Reference" type="xs:string"/>
	<xs:element name="RepAddrLine1" type="xs:string"/>
	<xs:element name="RepAddrLine2" type="xs:string"/>
	<xs:element name="RepAddrLine3" type="xs:string"/>
	<xs:element name="RepAddrLine4" type="xs:string"/>
	<xs:element name="RepAddrLine5" type="xs:string"/>
	<xs:element name="RepCasePartyNumber" type="xs:string"/>
	<xs:element name="RepCode" type="xs:string"/>
	<xs:element name="RepDX" type="xs:string"/>
	<xs:element name="RepEmailAddress" type="xs:string"/>
	<xs:element name="RepFaxNumber" type="xs:string"/>
	<xs:element name="RepName" type="xs:string"/>
	<xs:element name="RepPartyType" type="xs:string"/>
	<xs:element name="RepPostCode" type="xs:string"/>
	<xs:element name="RepTelephoneNumber" type="xs:string"/>
	<xs:element name="ReprintedBy" type="xs:string"/>
	<xs:element name="SendingCourtCode" type="xs:string"/>
	<xs:element name="SolicitorsCosts" type="xs:string"/>
	<xs:element name="SolicitorsCostsCurrency" type="xs:string"/>
	<xs:element name="TransferSeq" type="xs:string"/>
	<xs:element name="ToTransfer" type="xs:string"/>
	<xs:element name="TransferDate" type="xs:string"/>
	<xs:element name="Warrant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WarrantID"/>
				<xs:element ref="WarrantNumber"/>
				<xs:element ref="SendingCourtCode"/>
				<xs:element ref="TransferSeq"/>
				<xs:element ref="WarrantStatus"/>
				<xs:element ref="PrintStatus"/>
				<xs:element ref="LocalNumber"/>
				<xs:element ref="OriginalWarrantNumber"/>
				<xs:element ref="WarrantType"/>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="CaseStatus"/>
				<xs:element ref="CONumber"/>
				<xs:element ref="DateRequestReceived"/>
				<xs:element ref="IssuedBy"/>
				<xs:element ref="IssueDate"/>
				<xs:element ref="OwnedBy"/>
				<xs:element ref="HomeCourtIssueDate"/>
				<xs:element ref="ExecutingCourtCode"/>
				<xs:element ref="BailiffAreaNo"/>
				<xs:element ref="AdditionalNotes"/>
				<xs:element ref="PreIssueBalance"/>
				<xs:element ref="BalanceOfDebtCurrency"/>
				<xs:element ref="AmountOfWarrant"/>
				<xs:element ref="WarrantAmountCurrency"/>
				<xs:element ref="Fee"/>
				<xs:element ref="FeeCurrency"/>
				<xs:element ref="SolicitorsCosts"/>
				<xs:element ref="SolicitorsCostsCurrency"/>
				<xs:element ref="LandRegistryFee"/>
				<xs:element ref="LandRegistryFeeCurrency"/>
				<xs:element ref="BalanceAfterPaid"/>
				<xs:element ref="BalanceAfterPaidCurrency"/>
				<xs:element ref="ReIssueDate"/>
				<xs:element ref="DatePrinted"/>
				<xs:element ref="DateReprinted"/>
				<xs:element ref="CCBCWarrant"/>
				<xs:element ref="PlaintiffName"/>
				<xs:element ref="ClaimantCode"/>
				<xs:element ref="RepCasePartyNumber"/>
				<xs:element ref="RepName"/>
				<xs:element ref="RepPartyType"/>
				<xs:element ref="RepCode"/>
				<xs:element ref="RepAddrLine1"/>
				<xs:element ref="RepAddrLine2"/>
				<xs:element ref="RepAddrLine3"/>
				<xs:element ref="RepAddrLine4"/>
				<xs:element ref="RepAddrLine5"/>
				<xs:element ref="RepPostCode"/>
				<xs:element ref="RepDX"/>
				<xs:element ref="RepTelephoneNumber"/>
				<xs:element ref="RepFaxNumber"/>
				<xs:element ref="RepEmailAddress"/>
				<xs:element ref="Reference"/>
				<xs:element ref="ReprintedBy"/>
				<xs:element ref="DefendantName1"/>
				<xs:element ref="Deft1CasePartyNumber"/>
				<xs:element ref="Deft1PartyType"/>
				<xs:element ref="Deft1AddrLine1"/>
				<xs:element ref="Deft1AddrLine2"/>
				<xs:element ref="Deft1AddrLine3"/>
				<xs:element ref="Deft1AddrLine4"/>
				<xs:element ref="Deft1AddrLine5"/>
				<xs:element ref="Deft1PostCode"/>
				<xs:element ref="DefendantName2"/>
				<xs:element ref="Deft2CasePartyNumber"/>
				<xs:element ref="Deft2PartyType"/>
				<xs:element ref="Deft2AddrLine1"/>
				<xs:element ref="Deft2AddrLine2"/>
				<xs:element ref="Deft2AddrLine3"/>
				<xs:element ref="Deft2AddrLine4"/>
				<xs:element ref="Deft2AddrLine5"/>
				<xs:element ref="Deft2PostCode"/>
				<xs:element ref="ToTransfer"/>
				<xs:element ref="TransferDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WarrantAmountCurrency" type="xs:string"/>
	<xs:element name="WarrantID" type="xs:string"/>
	<xs:element name="WarrantNumber" type="xs:string"/>
	<xs:element name="WarrantStatus" type="xs:string"/>
	<xs:element name="WarrantType" type="xs:string"/>
	<xs:element name="Warrants">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Warrant" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
