.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/SUPS/wp_output.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="OutputID" type="xs:string"/>
	<xs:element name="WpOutput">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OutputID"/>
				<xs:element ref="CaseEventSequence"/>
				<xs:element ref="AEEventSequence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WpOutputs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WpOutput" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CaseEventSequence">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="newSequenceNumber" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AEEventSequence">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="newSequenceNumber" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
</xs:schema>
