.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/case_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AgeCategory" type="xs:string"/>
	<xs:element name="BMSTaskNumber" type="xs:string"/>
	<xs:element name="CaseEvents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseEvent" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CaseEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EventSequence"/>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="StandardEventID"/>
				<xs:element ref="Requester"/>
				<xs:element ref="Details"/>
				<xs:element ref="EventDate"/>
				<xs:element ref="Result"/>
				<xs:element ref="JudgmentSequence"/>
				<xs:element ref="VariationSequence"/>
				<xs:element ref="HearingSequence"/>
				<xs:element ref="Deleted"/>
				<xs:element ref="Username"/>
				<xs:element ref="ReceiptDate"/>
				<xs:element ref="BMSTaskNumber"/>
				<xs:element ref="StatsModule"/>
				<xs:element ref="CourtCode"/>
				<xs:element ref="ResultDate"/>
				<xs:element ref="AgeCategory"/>
				<xs:element ref="WarrantID"/>
				<xs:element ref="PartyRoleCode"/>
				<xs:element ref="DateToRTL"/>
				<xs:element ref="CasePartyNo"/>
				<xs:element ref="CaseFlag"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CaseFlag" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="CasePartyNo" type="xs:string"/>
	<xs:element name="CourtCode" type="xs:string"/>
	<xs:element name="DateToRTL" type="xs:string"/>
	<xs:element name="Deleted" type="xs:string"/>
	<xs:element name="Details" type="xs:string"/>
	<xs:element name="EventDate" type="xs:string"/>
	<xs:element name="EventSequence">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="newSequenceNumber" type="xs:string">
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="newSequenceNumber" type="xs:string"/>
	<xs:element name="HearingSequence" type="xs:string"/>
	<xs:element name="JudgmentSequence" type="xs:string"/>
	<xs:element name="PartyRoleCode" type="xs:string"/>
	<xs:element name="ReceiptDate" type="xs:string"/>
	<xs:element name="Requester" type="xs:string"/>
	<xs:element name="Result" type="xs:string"/>
	<xs:element name="ResultDate" type="xs:string"/>
	<xs:element name="StandardEventID" type="xs:string"/>
	<xs:element name="StatsModule" type="xs:string"/>
	<xs:element name="Username" type="xs:string"/>
	<xs:element name="VariationSequence" type="xs:string"/>
	<xs:element name="WarrantID" type="xs:string"/>
</xs:schema>
