.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/legacy_CO_case_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AdminCourtCode" type="xs:string"/>
	<xs:element name="AldDebtSequence" type="xs:string"/>
	<xs:element name="COCaseEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransferSequence"/>
				<xs:element ref="AdminCourtCode"/>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="CONumber"/>
				<xs:element ref="StdEventID"/>
				<xs:element ref="CreatedDate"/>
				<xs:element ref="EventDetails"/>
				<xs:element ref="TransferStatus"/>
				<xs:element ref="AldDebtSequence"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="COCaseEvents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="COCaseEvent" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CONumber" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="CreatedDate" type="xs:string"/>
	<xs:element name="EventDetails" type="xs:string"/>
	<xs:element name="StdEventID" type="xs:string"/>
	<xs:element name="TransferSequence" type="xs:string"/>
	<xs:element name="TransferStatus" type="xs:string"/>
</xs:schema>
