.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/legacy_warrant_return.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AdditonalInformation" type="xs:string"/>
	<xs:element name="AppointmentDate" type="xs:string"/>
	<xs:element name="AppointmentTime" type="xs:string"/>
	<xs:element name="DefendantID" type="xs:string"/>
	<xs:element name="ErrorIndicator" type="xs:string"/>
	<xs:element name="ExecutingCourtCode" type="xs:string"/>
	<xs:element name="IssuedBy" type="xs:string"/>
	<xs:element name="OwnedBy" type="xs:string"/>
	<xs:element name="NoticeRequired" type="xs:string"/>
	<xs:element name="ReturnCode" type="xs:string"/>
	<xs:element name="TransferSeq" type="xs:string"/>
	<xs:element name="ToTransfer" type="xs:string"/>
	<xs:element name="TransferDate" type="xs:string"/>
	<xs:element name="WarrantID" type="xs:string"/>
	<xs:element name="WarrantNumber" type="xs:string"/>
	<xs:element name="WarrantReturn">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AdditonalInformation"/>
				<xs:element ref="AppointmentDate"/>
				<xs:element ref="AppointmentTime"/>
				<xs:element ref="DefendantID"/>		
				<xs:element ref="ErrorIndicator"/>
				<xs:element ref="ExecutingCourtCode"/>
				<xs:element ref="IssuedBy"/>
				<xs:element ref="OwnedBy"/>
				<xs:element ref="NoticeRequired"/>
				<xs:element ref="ReturnCode"/>
				<xs:element ref="TransferSeq"/>
				<xs:element ref="ToTransfer"/>
				<xs:element ref="TransferDate"/>
				<xs:element ref="WarrantID"/>
				<xs:element ref="WarrantNumber"/>
				<xs:element ref="WarrantReturnDate"/>
				<xs:element ref="WarrantReturnID"/>
				<xs:element ref="VerificationDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WarrantReturnDate" type="xs:string"/>
	<xs:element name="WarrantReturnID" type="xs:string"/>
	<xs:element name="WarrantReturns">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="WarrantReturn" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VerificationDate" type="xs:string"/>
</xs:schema>
