.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/legacy_defendant.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BarJudgment" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="Date" type="xs:string"/>
	<xs:element name="DateOther" type="xs:string"/>
	<xs:element name="Defendant">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="ID"/>
				<xs:element ref="Name"/>
				<xs:element ref="DOB"/>
				<xs:element ref="Date"/>
				<xs:element ref="DateOther"/>
				<xs:element ref="SolicitiorCode"/>
				<xs:element ref="SolicitorName"/>
				<xs:element ref="SolAddr1"/>
				<xs:element ref="SolAddr2"/>
				<xs:element ref="SolAddr3"/>
				<xs:element ref="SolAddr4"/>
				<xs:element ref="SolAddr5"/>
				<xs:element ref="SolPostcode"/>
				<xs:element ref="SolTelNo"/>
				<xs:element ref="SolDX"/>
				<xs:element ref="BarJudgment"/>
				<xs:element ref="MethodOfService"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Defendants">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Defendant" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ID" type="xs:string"/>
	<xs:element name="MethodOfService" type="xs:string"/>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="DOB" type="xs:string"/>
	<xs:element name="SolAddr1" type="xs:string"/>
	<xs:element name="SolAddr2" type="xs:string"/>
	<xs:element name="SolAddr3" type="xs:string"/>
	<xs:element name="SolAddr4" type="xs:string"/>
	<xs:element name="SolAddr5" type="xs:string"/>
	<xs:element name="SolDX" type="xs:string"/>
	<xs:element name="SolPostcode" type="xs:string"/>
	<xs:element name="SolTelNo" type="xs:string"/>
	<xs:element name="SolicitiorCode" type="xs:string"/>
	<xs:element name="SolicitorName" type="xs:string"/>
</xs:schema>
