.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/legacy_CAPS_order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AENumber" type="xs:string"/>
	<xs:element name="AEType" type="xs:string"/>
	<xs:element name="CAPSOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TransferSequence"/>
				<xs:element ref="CAPSSequence"/>
				<xs:element ref="IssuedBy"/>
				<xs:element ref="EventID"/>
				<xs:element ref="OrderStatus"/>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="AENumber"/>
				<xs:element ref="AEType"/>
				<xs:element ref="PaymentAmountSum"/>
				<xs:element ref="PartyAgainstPartyRoleCode"/>
				<xs:element ref="PartyAgainstCasePartyNo"/>
				<xs:element ref="PartyForPartyRoleCode"/>
				<xs:element ref="PartyForCasePartyNo"/>
				<xs:element ref="DebtorsEmployersPartyID"/>
				<xs:element ref="PlaintiffCode"/>
				<xs:element ref="PlaintiffName"/>
				<xs:element ref="PlaintiffAddr1"/>
				<xs:element ref="PlaintiffAddr2"/>
				<xs:element ref="PlaintiffAddr3"/>
				<xs:element ref="PlaintiffAddr4"/>
				<xs:element ref="PlaintiffPostCode"/>
				<xs:element ref="PlaintiffTelephone"/>
				<xs:element ref="PlaintiffDX"/>
				<xs:element ref="PlaintiffRef"/>
				<xs:element ref="PayeeCode"/>
				<xs:element ref="PayeeName"/>
				<xs:element ref="PayeeAddr1"/>
				<xs:element ref="PayeeAddr2"/>
				<xs:element ref="PayeeAddr3"/>
				<xs:element ref="PayeeAddr4"/>
				<xs:element ref="PayeePostCode"/>
				<xs:element ref="PayeeTelephone"/>
				<xs:element ref="PayeeDX"/>
				<xs:element ref="PayeeRef"/>
				<xs:element ref="DefName"/>
				<xs:element ref="DefAddr1"/>
				<xs:element ref="DefAddr2"/>
				<xs:element ref="DefAddr3"/>
				<xs:element ref="DefAddr4"/>
				<xs:element ref="DefAddr5"/>
				<xs:element ref="DefPostCode"/>
				<xs:element ref="DefOccupation"/>
				<xs:element ref="DefPayReference"/>
				<xs:element ref="EmployerName"/>
				<xs:element ref="EmployerAddr1"/>
				<xs:element ref="EmployerAddr2"/>
				<xs:element ref="EmployerAddr3"/>
				<xs:element ref="EmployerAddr4"/>
				<xs:element ref="EmployerPostCode"/>
				<xs:element ref="EmployerTelephone"/>
				<xs:element ref="EmployerReference"/>
				<xs:element ref="WorkAddr1"/>
				<xs:element ref="WorkAddr2"/>
				<xs:element ref="WorkAddr3"/>
				<xs:element ref="WorkAddr4"/>
				<xs:element ref="WorkAddr5"/>
				<xs:element ref="WorkPostCode"/>
				<xs:element ref="NDRAmount"/>
				<xs:element ref="NDRPeriod"/>
				<xs:element ref="PerAmount"/>
				<xs:element ref="PerPeriod"/>
				<xs:element ref="PaidMonthlyFlag"/>
				<xs:element ref="OrderAmount"/>
				<xs:element ref="DateOfOrder"/>
				<xs:element ref="JudgmentSequence"/>
				<xs:element ref="JudgmentCourtCode"/>
				<xs:element ref="OrderRequiredFlag"/>
				<xs:element ref="DJOrderFlag"/>
				<xs:element ref="TransferStatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CAPSOrders">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CAPSOrder" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CAPSSequence" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="DJOrderFlag" type="xs:string"/>
	<xs:element name="DateOfOrder" type="xs:string"/>
	<xs:element name="DebtorsEmployersPartyID" type="xs:string"/>
	<xs:element name="DefAddr1" type="xs:string"/>
	<xs:element name="DefAddr2" type="xs:string"/>
	<xs:element name="DefAddr3" type="xs:string"/>
	<xs:element name="DefAddr4" type="xs:string"/>
	<xs:element name="DefAddr5" type="xs:string"/>
	<xs:element name="DefName" type="xs:string"/>
	<xs:element name="DefOccupation" type="xs:string"/>
	<xs:element name="DefPayReference" type="xs:string"/>
	<xs:element name="DefPostCode" type="xs:string"/>
	<xs:element name="EmployerAddr1" type="xs:string"/>
	<xs:element name="EmployerAddr2" type="xs:string"/>
	<xs:element name="EmployerAddr3" type="xs:string"/>
	<xs:element name="EmployerAddr4" type="xs:string"/>
	<xs:element name="EmployerName" type="xs:string"/>
	<xs:element name="EmployerPostCode" type="xs:string"/>
	<xs:element name="EmployerReference" type="xs:string"/>
	<xs:element name="EmployerTelephone" type="xs:string"/>
	<xs:element name="EventID" type="xs:string"/>
	<xs:element name="IssuedBy" type="xs:string"/>
	<xs:element name="JudgmentCourtCode" type="xs:string"/>
	<xs:element name="JudgmentSequence" type="xs:string"/>
	<xs:element name="NDRAmount" type="xs:string"/>
	<xs:element name="NDRPeriod" type="xs:string"/>
	<xs:element name="OrderAmount" type="xs:string"/>
	<xs:element name="OrderRequiredFlag" type="xs:string"/>
	<xs:element name="OrderStatus" type="xs:string"/>
	<xs:element name="PaidMonthlyFlag" type="xs:string"/>
	<xs:element name="PartyAgainstCasePartyNo" type="xs:string"/>
	<xs:element name="PartyAgainstPartyRoleCode" type="xs:string"/>
	<xs:element name="PartyForCasePartyNo" type="xs:string"/>
	<xs:element name="PartyForPartyRoleCode" type="xs:string"/>
	<xs:element name="PayeeAddr1" type="xs:string"/>
	<xs:element name="PayeeAddr2" type="xs:string"/>
	<xs:element name="PayeeAddr3" type="xs:string"/>
	<xs:element name="PayeeAddr4" type="xs:string"/>
	<xs:element name="PayeeCode" type="xs:string"/>
	<xs:element name="PayeeDX" type="xs:string"/>
	<xs:element name="PayeeName" type="xs:string"/>
	<xs:element name="PayeePostCode" type="xs:string"/>
	<xs:element name="PayeeRef" type="xs:string"/>
	<xs:element name="PayeeTelephone" type="xs:string"/>
	<xs:element name="PaymentAmountSum" type="xs:string"/>
	<xs:element name="PerAmount" type="xs:string"/>
	<xs:element name="PerPeriod" type="xs:string"/>
	<xs:element name="PlaintiffAddr1" type="xs:string"/>
	<xs:element name="PlaintiffAddr2" type="xs:string"/>
	<xs:element name="PlaintiffAddr3" type="xs:string"/>
	<xs:element name="PlaintiffAddr4" type="xs:string"/>
	<xs:element name="PlaintiffCode" type="xs:string"/>
	<xs:element name="PlaintiffDX" type="xs:string"/>
	<xs:element name="PlaintiffName" type="xs:string"/>
	<xs:element name="PlaintiffPostCode" type="xs:string"/>
	<xs:element name="PlaintiffRef" type="xs:string"/>
	<xs:element name="PlaintiffTelephone">
		<xs:complexType/>
	</xs:element>
	<xs:element name="TransferSequence" type="xs:string"/>
	<xs:element name="TransferStatus" type="xs:string"/>
	<xs:element name="WorkAddr1" type="xs:string"/>
	<xs:element name="WorkAddr2" type="xs:string"/>
	<xs:element name="WorkAddr3" type="xs:string"/>
	<xs:element name="WorkAddr4" type="xs:string"/>
	<xs:element name="WorkAddr5" type="xs:string"/>
	<xs:element name="WorkPostCode" type="xs:string"/>
</xs:schema>
