.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/legacy_AE_application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AEAmount" type="xs:string"/>
	<xs:element name="AEApplication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AENumber"/>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="AEType"/>
				<xs:element ref="ReceiptDate"/>
				<xs:element ref="CreationDate"/>
				<xs:element ref="IssueDate"/>
				<xs:element ref="AEAmount"/>
				<xs:element ref="DefendantID"/>
				<xs:element ref="JudgSequence"/>
				<xs:element ref="DebtorOccupation"/>
				<xs:element ref="PayrollNumber"/>
				<xs:element ref="NamedEmployer"/>
				<xs:element ref="AEFee"/>
				<xs:element ref="ProtectedEarningsRate"/>
				<xs:element ref="ProtectedEarningsPeriod"/>
				<xs:element ref="NormalDeductionRate"/>
				<xs:element ref="NormalDeductionPeriod"/>
				<xs:element ref="CAPSSequence"/>
				<xs:element ref="IssuingCourtCode"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AEApplications">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AEApplication" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AEFee" type="xs:string"/>
	<xs:element name="AENumber" type="xs:string"/>
	<xs:element name="AEType" type="xs:string"/>
	<xs:element name="CAPSSequence" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="CreationDate" type="xs:string"/>
	<xs:element name="DebtorOccupation" type="xs:string"/>
	<xs:element name="DefendantID" type="xs:string"/>
	<xs:element name="IssueDate" type="xs:string"/>
	<xs:element name="IssuingCourtCode" type="xs:string"/>
	<xs:element name="JudgSequence" type="xs:string"/>
	<xs:element name="NamedEmployer" type="xs:string"/>
	<xs:element name="NormalDeductionPeriod" type="xs:string"/>
	<xs:element name="NormalDeductionRate" type="xs:string"/>
	<xs:element name="PayrollNumber" type="xs:string"/>
	<xs:element name="ProtectedEarningsPeriod" type="xs:string"/>
	<xs:element name="ProtectedEarningsRate" type="xs:string"/>
	<xs:element name="ReceiptDate" type="xs:string"/>
</xs:schema>
