.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/legacy_judgment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AgainstPartyNo">
		<xs:complexType/>
	</xs:element>
	<xs:element name="AgainstPartyRoleCode">
		<xs:complexType/>
	</xs:element>
	<xs:element name="DateOfFinalPayment" type="xs:string"/>
	<xs:element name="DefendantID" type="xs:string"/>
	<xs:element name="DeftCaseNumber" type="xs:string"/>
	<xs:element name="FirstPaymentDate" type="xs:string"/>
	<xs:element name="InstalmentAmount" type="xs:string"/>
	<xs:element name="InstalmentPeriod" type="xs:string"/>
	<xs:element name="JointJudgment" type="xs:string"/>
	<xs:element name="JudgSequence">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="newSequenceNumber" type="xs:string" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Judgment">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element ref="JudgSequence"/>
				<xs:element ref="DeftCaseNumber"/>
				<xs:element ref="DefendantID"/>
				<xs:element ref="JudgmentFor"/>
				<xs:element ref="JudgmentType"/>
				<xs:element ref="JointJudgment"/>
				<xs:element ref="JudgmentDate"/>
				<xs:element ref="SentToRTL"/>
				<xs:element ref="StatusToRTL"/>
				<xs:element ref="DateOfFinalPayment"/>
				<xs:element ref="Status"/>
				<xs:element ref="JudgmentAmount"/>
				<xs:element ref="TotalCosts"/>
				<xs:element ref="PaidBeforeJudgment"/>
				<xs:element ref="Total"/>
				<xs:element ref="InstalmentAmount"/>
				<xs:element ref="InstalmentPeriod"/>
				<xs:element ref="FirstPaymentDate"/>
				<xs:element ref="PayeeName"/>
				<xs:element ref="PayeeAddr1"/>
				<xs:element ref="PayeeAddr2"/>
				<xs:element ref="PayeeAddr3"/>
				<xs:element ref="PayeeAddr4"/>
				<xs:element ref="PayeeAddr5"/>
				<xs:element ref="PayeePostcode"/>
				<xs:element ref="PayeeTelNo"/>
				<xs:element ref="PayeeDOB"/>
				<xs:element ref="PayeeReference"/>
				<xs:element ref="PayReceiptDate"/>
				<xs:element ref="JudgmentCourtCode"/>
				<xs:element ref="AgainstPartyRoleCode"/>
				<xs:element ref="AgainstPartyNo"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="JudgmentAmount" type="xs:string"/>
	<xs:element name="JudgmentCourtCode" type="xs:string"/>
	<xs:element name="JudgmentDate" type="xs:string"/>
	<xs:element name="JudgmentFor" type="xs:string"/>
	<xs:element name="JudgmentType" type="xs:string"/>
	<xs:element name="Judgments">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Judgment" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PaidBeforeJudgment" type="xs:string"/>
	<xs:element name="PayReceiptDate" type="xs:string"/>
	<xs:element name="PayeeAddr1" type="xs:string"/>
	<xs:element name="PayeeAddr2" type="xs:string"/>
	<xs:element name="PayeeAddr3" type="xs:string"/>
	<xs:element name="PayeeAddr4" type="xs:string"/>
	<xs:element name="PayeeAddr5" type="xs:string"/>
	<xs:element name="PayeeName" type="xs:string"/>
	<xs:element name="PayeePostcode" type="xs:string"/>
	<xs:element name="PayeeReference" type="xs:string"/>
	<xs:element name="PayeeTelNo" type="xs:string"/>
	<xs:element name="PayeeDOB" type="xs:string"/>
	<xs:element name="SentToRTL" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="StatusToRTL" type="xs:string"/>
	<xs:element name="Total" type="xs:string"/>
	<xs:element name="TotalCosts" type="xs:string"/>
</xs:schema>
