.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/legacy_ECHR_detail.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ApplicationDate" type="xs:string"/>
	<xs:element name="ApplicationOutcome" type="xs:string"/>
	<xs:element name="DeftCaseNumber" type="xs:string"/>
	<xs:element name="Deleted" type="xs:string"/>
	<xs:element name="ECHRDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeftCaseNumber"/>
				<xs:element ref="EventSequence"/>
				<xs:element ref="PlaintiffCode"/>
				<xs:element ref="PlaintiffDetails"/>
				<xs:element ref="EventDate"/>
				<xs:element ref="ApplicationDate"/>
				<xs:element ref="Username"/>
				<xs:element ref="JudgeName"/>
				<xs:element ref="ApplicationOutcome"/>
				<xs:element ref="Deleted"/>
				<xs:element ref="PartyMadeApplication"/>
				<xs:element ref="PartyName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ECHRDetails">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ECHRDetail" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EventDate" type="xs:string"/>
	<xs:element name="EventSequence" type="xs:string"/>
	<xs:element name="JudgeName" type="xs:string"/>
	<xs:element name="PartyMadeApplication" type="xs:string"/>
	<xs:element name="PartyName" type="xs:string"/>
	<xs:element name="PlaintiffCode" type="xs:string"/>
	<xs:element name="PlaintiffDetails" type="xs:string"/>
	<xs:element name="Username" type="xs:string"/>
</xs:schema>
