.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/legacy_obligation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AEEventSequence" type="xs:string"/>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="Deleted" type="xs:string"/>
	<xs:element name="EventSequence" type="xs:string"/>
	<xs:element name="ExpiryDate" type="xs:string"/>
	<xs:element name="LastUsedBy" type="xs:string"/>
	<xs:element name="Notes" type="xs:string"/>
	<xs:element name="ObligationSequence" type="xs:string"/>
	<xs:element name="ObligationType" type="xs:string"/>
	<xs:element name="obligation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="ObligationSequence"/>
				<xs:element ref="ObligationType"/>
				<xs:element ref="ExpiryDate"/>
				<xs:element ref="Notes"/>
				<xs:element ref="EventSequence"/>
				<xs:element ref="AEEventSequence"/>
				<xs:element ref="LastUsedBy"/>
				<xs:element ref="Deleted"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="obligations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="obligation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
