.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/legacy_case_event.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AgeCategory" type="xs:string"/>
	<xs:element name="BMSTask" type="xs:string"/>
	<xs:element name="CaseEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EventSequence"/>
				<xs:element ref="CaseNumber"/>
				<xs:element ref="StdEventID"/>
				<xs:element ref="DeftCaseNumber"/>
				<xs:element ref="DefendantID"/>
				<xs:element ref="Requester"/>
				<xs:element ref="Details"/>
				<xs:element ref="EventDate"/>
				<xs:element ref="Result"/>
				<xs:element ref="WRT_Number"/>
				<xs:element ref="JudgSequence"/>
				<xs:element ref="VarySequence"/>
				<xs:element ref="HrgSequence"/>
				<xs:element ref="Deleted"/>
				<xs:element ref="UserName"/>
				<xs:element ref="ReceiptDate"/>
				<xs:element ref="BMSTask"/>
				<xs:element ref="StatsModule"/>
				<xs:element ref="AgeCategory"/>
				<xs:element ref="CourtCode"/>
				<xs:element ref="ResultDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CaseEvents">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseEvent" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="CourtCode" type="xs:string"/>
	<xs:element name="DefendantID" type="xs:string"/>
	<xs:element name="DeftCaseNumber" type="xs:string"/>
	<xs:element name="Deleted" type="xs:string"/>
	<xs:element name="Details" type="xs:string"/>
	<xs:element name="EventDate" type="xs:string"/>
	<xs:element name="EventSequence" type="xs:string"/>
	<xs:element name="HrgSequence" type="xs:string"/>
	<xs:element name="JudgSequence" type="xs:string"/>
	<xs:element name="ReceiptDate" type="xs:string"/>
	<xs:element name="Requester" type="xs:string"/>
	<xs:element name="Result" type="xs:string"/>
	<xs:element name="ResultDate" type="xs:string"/>
	<xs:element name="StatsModule" type="xs:string"/>
	<xs:element name="StdEventID" type="xs:string"/>
	<xs:element name="UserName" type="xs:string"/>
	<xs:element name="VarySequence" type="xs:string"/>
	<xs:element name="WRT_Number" type="xs:string"/>
</xs:schema>
