.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/legacy_variation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ApplicationDate" type="xs:string"/>
	<xs:element name="DeterminationAmount" type="xs:string"/>
	<xs:element name="DeterminationPeriod" type="xs:string"/>
	<xs:element name="FirstPaymentDate" type="xs:string"/>
	<xs:element name="HearingReqd" type="xs:string"/>
	<xs:element name="JudgSequence" type="xs:string"/>
	<xs:element name="Objection" type="xs:string"/>
	<xs:element name="ObjectionDate" type="xs:string"/>
	<xs:element name="Objector" type="xs:string"/>
	<xs:element name="OfferAmount" type="xs:string"/>
	<xs:element name="OfferPeriod" type="xs:string"/>
	<xs:element name="PlaintiffResponse" type="xs:string"/>
	<xs:element name="Requester" type="xs:string"/>
	<xs:element name="ResponseDate" type="xs:string"/>
	<xs:element name="Result" type="xs:string"/>
	<xs:element name="ResultDate" type="xs:string"/>
	<xs:element name="Variation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="VarySequence"/>
				<xs:element ref="JudgSequence"/>
				<xs:element ref="ApplicationDate"/>
				<xs:element ref="Requester"/>
				<xs:element ref="OfferAmount"/>
				<xs:element ref="OfferPeriod"/>
				<xs:element ref="FirstPaymentDate"/>
				<xs:element ref="PlaintiffResponse"/>
				<xs:element ref="Result"/>
				<xs:element ref="ResultDate"/>
				<xs:element ref="DeterminationAmount"/>
				<xs:element ref="DeterminationPeriod"/>
				<xs:element ref="Objection"/>
				<xs:element ref="Objector"/>
				<xs:element ref="ResponseDate"/>
				<xs:element ref="HearingReqd"/>
				<xs:element ref="ObjectionDate"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Variations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Variation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="VarySequence" type="xs:string"/>
</xs:schema>
