.business_context/SUPS-Caseman/PL-CASEMAN/app/caseman/cm-polarlake/Common/schemas/Legacy/xvalue.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Troy Baines (Electronic Data Systems LTD) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CaseNumber" type="xs:string"/>
	<xs:element name="XValueCourt">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CaseNumber"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="XValueCourts">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="XValueCourt" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
