.business_context/SUPS-Caseman/app/wordprocessing/wp_test_outputs/wp-test-code/wpAsIs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Cag Onganer (EDS LTD) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Variable">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="AsIs">
					<xs:complexType>
						<xs:all>
							<xs:element name="Description"/>
							<xs:element name="SelectClause"/>
							<xs:element name="FromWhereClause"/>
						</xs:all>
						<xs:attribute name="code"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
