.business_context/SUPS-Caseman/app/PolarLake/Common/circuits/Template/cases.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CaseDetails" type="xs:string"/>
	<!-- <xs:element name="CaseNumber" type="xs:string"/> -->
	<xs:simpleType name="CaseNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value=".*([\d\p{L}])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CaseStatus" type="xs:string"/>
	<xs:element name="CaseType" type="xs:string"/>
	<xs:element name="CourtFee" type="xs:string"/>
	<xs:element name="DX" type="xs:string"/>
	<xs:element name="DateOfIssue" type="xs:string"/>
	<xs:element name="DateOfTransfer" type="xs:string"/>
	<xs:element name="DateRequestReceived" type="xs:string"/>
	<xs:element name="DateTransferredIn" type="xs:string"/>
	<xs:element name="Line1" type="xs:string"/>
	<xs:element name="Line2" type="xs:string"/>
	<xs:element name="Line3" type="xs:string"/>
	<xs:element name="Line4" type="xs:string"/>
	<xs:element name="OwningCourtCode" type="xs:string"/>
	<xs:element name="ParticularsOfClaimDetails" type="xs:string"/>
	<xs:element name="PayeeFlag" type="xs:string"/>
	<xs:element name="RepCode" type="xs:string"/>
	<xs:element name="RepName" type="xs:string"/>
	<xs:element name="SolicitorsCosts" type="xs:string"/>
	<xs:element name="Status" type="xs:string"/>
	<xs:element name="TelephoneNumber" type="xs:string"/>
	<xs:element name="Total" type="xs:string"/>
	<xs:element name="TransCrtCode" type="xs:string"/>
	<xs:element name="TransferReason" type="xs:string"/>
	<xs:element name="TransferStatus" type="xs:string"/>
	<xs:element name="PostCode" type="xs:string"/>
	<xs:element name="PreviousCourt" type="xs:string"/>
	<xs:element name="Reference" type="xs:string"/>
	<xs:element name="AmountClaimed" type="xs:string"/>
	<xs:element name="Case">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CaseNumber" type="CaseNumber" maxOccurs="unbounded"/>
				<xs:element ref="CaseType"/>
				<xs:element ref="CaseStatus"/>
				<xs:element ref="OwningCourtCode"/>
				<xs:element ref="CaseDetails"/>
				<xs:element ref="ParticularsOfClaimDetails"/>
				<xs:element ref="DateRequestReceived"/>
				<xs:element ref="AmountClaimed"/>
				<xs:element ref="CourtFee"/>
				<xs:element ref="SolicitorsCosts"/>
				<xs:element ref="Total"/>
				<xs:element ref="DateOfIssue"/>
				<xs:element ref="TransCrtCode"/>
				<xs:element ref="DateOfTransfer"/>
				<xs:element ref="Status"/>
				<xs:element ref="TransferReason"/>
				<xs:element ref="DateTransferredIn"/>
				<xs:element ref="PreviousCourt"/>
				<xs:element ref="TransferStatus"/>
				<xs:element ref="RepAddress"/>
				<xs:element ref="PlantiffAddress"/>
				<!-- <xs:element ref="CaseNumber"/> -->
			</xs:sequence>
			<xs:attribute name="retry_count" type="xs:short"/>
			<xs:attribute name="retry_count_transfer_status" type="xs:short"/>
		</xs:complexType>
		<xs:key name="Case">
			<xs:selector xpath="Case"/>
			<xs:field xpath="CaseNumber"/>
		</xs:key>
	</xs:element>
	<xs:element name="Cases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Case" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Address">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RepCode"/>
				<xs:element ref="RepName"/>
				<xs:element ref="Line1"/>
				<xs:element ref="Line2"/>
				<xs:element ref="Line3"/>
				<xs:element ref="Line4"/>
				<xs:element ref="PostCode"/>
				<xs:element ref="Reference"/>
				<xs:element ref="DX"/>
				<xs:element ref="TelephoneNumber"/>
				<xs:element ref="PayeeFlag" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PlantiffAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RepAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Address"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
