.business_context/SUPS-Caseman/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData/_Generic/Groups.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by Frederik Vandendriessche (-) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Groups">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Group" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="QuestionId" maxOccurs="unbounded"/>
						</xs:sequence>
						<xs:attribute name="GroupId"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
