.business_context/SUPS-Caseman/app/client/src/main/webapp/screens/caseman_wp/EnterVariableData/_Generic/Screens.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Nick Wilson (EDS) -->
<!-- edited with XMLSpy v2005 U (http://www.xmlspy.com) by Frederik Vandendriessche (-) -->
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Screen">
		<xs:annotation>
			<xs:documentation>Comment describing your root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name"/>
				<xs:element name="GroupId" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
