.business_context/SUPS-Caseman/RPT/reporting/wordprocessing_templates/_Maintain/datamaintenance.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- WP-1.13 --><!-- edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Frederik Vandendriessche (EDS UK East Sol Center) --><!--W3C Schema generated by XMLSPY v2004 rel. 4 U (http://www.xmlspy.com)--><xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">	<xs:element name="referencelist">		<xs:complexType>			<xs:sequence>				<xs:element name="reference" maxOccurs="unbounded">					<xs:complexType>						<xs:sequence>							<xs:element name="name" type="xs:string"/>							<xs:element name="description" type="xs:string"/>							<xs:element name="value" type="xs:string"/>						</xs:sequence>					</xs:complexType>				</xs:element>			</xs:sequence>		</xs:complexType>	</xs:element></xs:schema>