.business_context/SUPS-Caseman/app/PolarLake/Common/config/case_events_map.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="LegacyEventID" type="xs:string"/>
	<xs:element name="SupsEventID" type="xs:string"/>
	<xs:complexType name="NonLegacyEventType">
		<xs:sequence>
			<xs:element ref="LegacyEventID"/>
			<xs:element ref="SupsEventID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NonLegacyEvents">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NonLegacyEvent" type="NonLegacyEventType" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
